pending-review/n8n-whatsapp-faq-responder/workflow.json
{
  "name": "Answer WhatsApp keyword questions from a Google Sheet FAQ",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "com.twilio.messaging.inbound-message.received"
        ]
      },
      "id": "6d84a41c-d99d-4ddf-abdb-be98898cf5d4",
      "name": "Receive Inbound WhatsApp Message",
      "type": "n8n-nodes-base.twilioTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        720
      ],
      "credentials": {
        "twilioApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "REPLACE_WITH_YOUR_TWILIO_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "faq-keyword",
              "name": "keyword",
              "value": "={{ ($json.Body || \"\").trim().split(\" \")[0].replace(/[^A-Za-z]/g, \"\").toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "faq-sender",
              "name": "sender",
              "value": "={{ ($json.From || \"\").replace(\"whatsapp:\", \"\") }}",
              "type": "string"
            },
            {
              "id": "faq-raw-body",
              "name": "rawBody",
              "value": "={{ $json.Body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "711b53d5-55ba-4a2f-ba22-8f0769109da9",
      "name": "Normalize Keyword And Sender",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        720
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.keyword }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "HOURS"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HOURS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.keyword }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "PRICING"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PRICING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.keyword }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "RETURNS"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RETURNS"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Unknown Keyword"
        }
      },
      "id": "ff8113c8-1910-433f-9f72-149bd125a54b",
      "name": "Route The Keyword",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        320,
        688
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "REPLACE_WITH_YOUR_SPREADSHEET"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "FAQ"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "keyword",
              "lookupValue": "={{ $json.keyword }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e9ec58da-9c86-494f-8a6a-759601623483",
      "name": "Look Up The Answer Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        672
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "answer-reply-text",
              "name": "replyText",
              "value": "={{ $json.answer }}",
              "type": "string"
            },
            {
              "id": "answer-reply-to",
              "name": "replyTo",
              "value": "={{ $(\"Normalize Keyword And Sender\").item.json.sender }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4a3cea74-3012-4b84-996f-f98310a05419",
      "name": "Build The Answer Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        672
      ]
    },
    {
      "parameters": {
        "from": "REPLACE_WITH_YOUR_TWILIO_WHATSAPP_SANDBOX_NUMBER",
        "to": "={{ $json.replyTo }}",
        "toWhatsapp": true,
        "message": "={{ $json.replyText }}",
        "options": {}
      },
      "id": "e846f443-8771-44a5-92ee-7c4832019d08",
      "name": "Send The WhatsApp Reply",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1552,
        672
      ],
      "credentials": {
        "twilioApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "REPLACE_WITH_YOUR_TWILIO_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "help-reply-text",
              "name": "replyText",
              "value": "I did not recognise that. Reply with HOURS, PRICING or RETURNS and I will send the answer.",
              "type": "string"
            },
            {
              "id": "help-reply-to",
              "name": "replyTo",
              "value": "={{ $json.sender }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1432ab6b-fc35-48da-bd91-ef2571412e35",
      "name": "Build The Help Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        880
      ]
    },
    {
      "parameters": {
        "content": "## Answer WhatsApp keyword questions from a Google Sheet FAQ\n\n### How it works\n\n1. A customer sends a one word message like HOURS and `Receive Inbound WhatsApp Message` fires.\n2. `Normalize Keyword And Sender` takes the first word, strips punctuation, uppercases it, and grabs the sender number.\n3. `Route The Keyword` matches HOURS, PRICING or RETURNS, and sends anything else to a fallback output.\n4. `Look Up The Answer Row` finds the first FAQ row whose keyword matches, then `Build The Answer Reply` writes the reply.\n5. On the fallback branch `Build The Help Reply` lists the valid keywords instead.\n6. `Send The WhatsApp Reply` sends whichever text was built back to the customer on WhatsApp.\n\n### Setup steps\n\n- [ ] Add a Twilio credential to `Receive Inbound WhatsApp Message` and `Send The WhatsApp Reply`.\n- [ ] Add a Google Sheets credential to `Look Up The Answer Row`, then pick your spreadsheet and the `FAQ` tab.\n- [ ] Set `From` in `Send The WhatsApp Reply` to your Twilio WhatsApp sandbox number.\n- [ ] Paste the trigger production URL into the Twilio Sandbox \"When a message comes in\" field, method POST.\n- [ ] Seed the FAQ tab with a keyword column and an answer column, one row per keyword.\n\n### Customization\n\nAdd a keyword by adding a row to the sheet and one more rule in `Route The Keyword`, change any answer by editing a cell, or point the Twilio node at a full WhatsApp Business number once you are off the sandbox.",
        "height": 656,
        "width": 928
      },
      "id": "6fc8909b-c20e-46e3-8f9b-f2da2c999c6b",
      "name": "Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        -288
      ]
    },
    {
      "parameters": {
        "content": "## The 24 hour window\n\nWhatsApp only allows freeform text inside the 24 hour window that opens when the customer messages you first. Outside that window you need an approved template. On a trial this runs through the WhatsApp Sandbox, and a sandbox session expires three days after you join.",
        "height": 256,
        "width": 448,
        "color": 3
      },
      "id": "48560905-278a-4de2-b3a3-9e8c3951e714",
      "name": "Note - 24 Hour Window",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        -192
      ]
    },
    {
      "parameters": {
        "content": "## Take in the message and read the keyword\n\nA Twilio Trigger fires on an inbound WhatsApp message, one Set node pulls the first word out of the body as an uppercase keyword and strips the `whatsapp:` prefix off the sender, and a Switch routes that keyword to the sheet lookup or to the fallback help reply.",
        "height": 464,
        "width": 800,
        "color": 7
      },
      "id": "55fc8b76-3c4a-45b8-82de-fa8229a1246d",
      "name": "Note - Take In The Message",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        496
      ]
    },
    {
      "parameters": {
        "content": "## Look up the answer or build a help reply\n\nAll three keyword branches hit one Google Sheets lookup that filters the FAQ tab on the keyword column, and a Set node turns that row into reply text. The fallback branch writes a short message listing the valid keywords.",
        "height": 608,
        "width": 640,
        "color": 7
      },
      "id": "e6e7fa47-8794-4293-9122-9d49373f77d8",
      "name": "Note - Look Up The Answer",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        448
      ]
    },
    {
      "parameters": {
        "content": "## Send the reply back\n\nBoth paths meet at one Twilio node that sends the text back on the WhatsApp channel, so the customer gets an answer in the same thread they asked in.",
        "height": 432,
        "width": 448,
        "color": 7
      },
      "id": "305c76dd-91e7-4e70-9edc-a53abb49547c",
      "name": "Note - Send The Reply",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1376,
        448
      ]
    }
  ],
  "connections": {
    "Receive Inbound WhatsApp Message": {
      "main": [
        [
          {
            "node": "Normalize Keyword And Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Keyword And Sender": {
      "main": [
        [
          {
            "node": "Route The Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route The Keyword": {
      "main": [
        [
          {
            "node": "Look Up The Answer Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Look Up The Answer Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Look Up The Answer Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build The Help Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Look Up The Answer Row": {
      "main": [
        [
          {
            "node": "Build The Answer Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build The Answer Reply": {
      "main": [
        [
          {
            "node": "Send The WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build The Help Reply": {
      "main": [
        [
          {
            "node": "Send The WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
