pending-submission/n8n-youtube-banner-scheduler/workflow.json
{
  "name": "Swap your YouTube channel banner on a schedule using Google Sheets and Drive",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "a7f20db9-ee3e-44c4-934c-c56391bc7381",
      "name": "Run Banner Check Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "channel-id",
              "name": "channelId",
              "value": "YOUR_CHANNEL_ID",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "14ccb797-d6e3-4714-ae6f-316a30f20c53",
      "name": "Set Banner Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Your Spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "id": "c1423aee-3f21-48fb-9fa8-002f126c6c67",
      "name": "Read Banner Schedule",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "swap-date-match",
              "leftValue": "={{ $json['Swap Date'] }}",
              "rightValue": "={{ $today.toFormat('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1bd26954-8fd2-47f0-a884-752097cbf458",
      "name": "Check If Swap Is Due Today",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json['Banner Drive File ID'] }}"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "ddee8b1b-3146-45dc-9c68-a64783177f4f",
      "name": "Download Banner Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        848,
        288
      ]
    },
    {
      "parameters": {
        "operation": "uploadBanner",
        "channelId": "={{ $('Set Banner Config').item.json.channelId }}"
      },
      "id": "a4631875-90f2-4a1c-9a36-cdc409e32ee2",
      "name": "Upload Banner to YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1024,
        288
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "channelId": "={{ $('Set Banner Config').item.json.channelId }}",
        "updateFields": {
          "brandingSettingsUi": {
            "imageSettingsValues": {
              "image": {
                "bannerExternalUrl": "={{ $json.url }}"
              }
            }
          }
        }
      },
      "id": "0a116c48-182d-48de-b7a0-765baba704c5",
      "name": "Set New Banner as Active",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1280,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "swapped-at",
              "name": "swappedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "channel-id",
              "name": "channelId",
              "value": "={{ $('Set Banner Config').item.json.channelId }}",
              "type": "string"
            },
            {
              "id": "banner-label",
              "name": "bannerLabel",
              "value": "={{ $('Check If Swap Is Due Today').item.json.Label }}",
              "type": "string"
            },
            {
              "id": "swap-date",
              "name": "swapDate",
              "value": "={{ $('Check If Swap Is Due Today').item.json['Swap Date'] }}",
              "type": "string"
            },
            {
              "id": "banner-file-id",
              "name": "bannerFileId",
              "value": "={{ $('Check If Swap Is Due Today').item.json['Banner Drive File ID'] }}",
              "type": "string"
            },
            {
              "id": "banner-url",
              "name": "bannerUrl",
              "value": "={{ $('Upload Banner to YouTube').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e52a53c3-8e2c-4c56-85f9-29911a8e91eb",
      "name": "Log the Banner Swap",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        288
      ]
    },
    {
      "parameters": {
        "content": "## Swap your YouTube channel banner on a schedule\n\n### How it works\n\n1. A Schedule Trigger runs the workflow once a day.\n2. Google Sheets reads a banner schedule with a swap date, a Google Drive file ID, and an optional label.\n3. An IF node checks whether a row's `Swap Date` matches today in the workflow timezone.\n4. On a match, Google Drive downloads that banner image as binary data.\n5. The YouTube node runs Channel: uploadBanner on the image, which returns a banner URL.\n6. A second YouTube node runs Channel: update to set that URL as the active banner, then a Set node records the swap.\n\n### Setup steps\n\n- [ ] Connect a YouTube (Google) OAuth2 credential on both YouTube nodes.\n- [ ] Connect your Google Sheets and Google Drive credentials.\n- [ ] In `Set Banner Config`, set `channelId` to your YouTube channel ID.\n- [ ] Point `Read Banner Schedule` at your schedule spreadsheet and tab.\n- [ ] Add rows with `Swap Date` (yyyy-MM-dd), `Banner Drive File ID`, and optional `Label`.\n\n### Customization\n\nPrepare banner art at 2048x1152 px and under 6 MB. Change the run time in the Schedule Trigger, or add a Google Sheets update step to mark a row done after each swap.",
        "height": 640,
        "width": 848
      },
      "id": "0e3565f4-cd1d-4150-b424-3232904dd837",
      "name": "Sticky Note 3dc0ba0c",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -544
      ]
    },
    {
      "parameters": {
        "content": "## Check today's schedule\n\nRead the banner schedule and keep only rows whose swap date is today.",
        "height": 308,
        "width": 796,
        "color": 7
      },
      "id": "92c82047-920a-4b3d-be78-ad99bfdd0929",
      "name": "Sticky Note 70d823c7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        160
      ]
    },
    {
      "parameters": {
        "content": "## Fetch and upload banner\n\nDownload the scheduled banner image and upload it to the channel.",
        "height": 324,
        "width": 380,
        "color": 7
      },
      "id": "c151ffee-8b13-43fe-9268-4a68b2ade40d",
      "name": "Sticky Note d788e62b",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        784,
        144
      ]
    },
    {
      "parameters": {
        "content": "## Activate and log the swap\n\nSet the uploaded banner as active and record what changed.",
        "height": 324,
        "width": 412,
        "color": 7
      },
      "id": "33492f12-dab0-4516-9f3c-374ac616d120",
      "name": "Sticky Note 20d5fb92",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        144
      ]
    }
  ],
  "connections": {
    "Run Banner Check Daily": {
      "main": [
        [
          {
            "node": "Set Banner Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Banner Config": {
      "main": [
        [
          {
            "node": "Read Banner Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Banner Schedule": {
      "main": [
        [
          {
            "node": "Check If Swap Is Due Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Swap Is Due Today": {
      "main": [
        [
          {
            "node": "Download Banner Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Banner Image": {
      "main": [
        [
          {
            "node": "Upload Banner to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Banner to YouTube": {
      "main": [
        [
          {
            "node": "Set New Banner as Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set New Banner as Active": {
      "main": [
        [
          {
            "node": "Log the Banner Swap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "pinData": {},
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": false
  },
  "tags": []
}