pending-submission/n8n-gladia-speaker-transcript/workflow.json
{
  "name": "Transcribe recordings into speaker-labeled notes using Gladia and Google Drive",
  "nodes": [
    {
      "id": "10000000-0000-4000-8000-000000000001",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -780,
        60
      ],
      "parameters": {
        "width": 460,
        "height": 560,
        "content": "## Transcribe recordings into speaker-labeled notes with Gladia\n\n### How it works\n1. Someone submits the form with a public recording URL and, optionally, how many speakers to expect.\n2. The workflow sends the recording to Gladia and turns on speaker diarization.\n3. It waits and re-checks Gladia until the transcript is ready, or stops after a set number of attempts.\n4. A Code node groups the utterances by speaker into a clean transcript like \"Speaker 1 [00:12]: ...\".\n5. The transcript is saved to Google Drive as a Markdown file and a link is posted to Slack. Errors and timeouts are reported too.\n\n### Setup steps\n- [ ] Create a Header Auth credential named Gladia with header name x-gladia-key, then select it on both Gladia HTTP nodes.\n- [ ] Connect your Google Drive account and choose the folder for transcripts on Save Transcript To Drive.\n- [ ] Connect Slack and pick the channel on Notify Transcript Ready and Report Transcription Failure.\n- [ ] Open the form, paste a public audio or video URL, set an optional speaker count, and submit.\n\n### Customization\nChange wait seconds and max attempts in Configure Polling to tune the poll interval and timeout. Adjust the file name or transcript layout in Format Speaker Transcript."
      }
    },
    {
      "id": "30000000-0000-4000-8000-00000000000c",
      "name": "Section Collect Request",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        180
      ],
      "parameters": {
        "width": 460,
        "height": 260,
        "color": 7,
        "content": "## Collect the recording request\nA form takes a public media URL and an optional speaker count, then Configure Polling sets the poll interval and timeout."
      }
    },
    {
      "id": "30000000-0000-4000-8000-00000000000d",
      "name": "Section Start And Poll",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        180
      ],
      "parameters": {
        "width": 860,
        "height": 260,
        "color": 7,
        "content": "## Start and poll Gladia\nGladia is asynchronous: start the job, then wait and re-check until the status is done, error, or the attempt limit is reached. Both HTTP nodes continue on error so a failure is routed, not swallowed."
      }
    },
    {
      "id": "30000000-0000-4000-8000-00000000000e",
      "name": "Section Format And Save",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        80
      ],
      "parameters": {
        "width": 760,
        "height": 260,
        "color": 7,
        "content": "## Format and save the transcript\nGroup the utterances by speaker into a readable Markdown transcript, save it to Google Drive, and post the link to Slack."
      }
    },
    {
      "id": "30000000-0000-4000-8000-00000000000f",
      "name": "Section Handle Failures",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        420
      ],
      "parameters": {
        "width": 360,
        "height": 200,
        "color": 7,
        "content": "## Handle failures\nAny API error or a timeout posts a clear reason to Slack so a run never fails silently."
      }
    },
    {
      "id": "20000000-0000-4000-8000-000000000002",
      "name": "Receive Recording Request",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -160,
        300
      ],
      "webhookId": "b7d3f1a2-4c56-4e78-9a01-1122334455aa",
      "parameters": {
        "formTitle": "Speaker-labeled transcript",
        "formDescription": "Paste a public link to an audio or video recording. Gladia will transcribe it and label who spoke.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Media URL",
              "fieldType": "text",
              "placeholder": "https://example.com/interview.mp3",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of speakers",
              "fieldType": "number",
              "placeholder": "Optional hint, leave blank to auto-detect"
            }
          ]
        },
        "responseMode": "onReceived",
        "options": {
          "formSubmittedText": "Thanks. Your recording is being transcribed. The speaker-labeled transcript will be saved to Google Drive and a link posted to Slack when it is ready."
        }
      }
    },
    {
      "id": "20000000-0000-4000-8000-000000000003",
      "name": "Configure Polling",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60,
        300
      ],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "wait_seconds",
              "value": 10,
              "type": "number"
            },
            {
              "id": "c2",
              "name": "max_attempts",
              "value": 60,
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "20000000-0000-4000-8000-000000000004",
      "name": "Start Gladia Transcription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        300,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.gladia.io/v2/pre-recorded",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ audio_url: $('Receive Recording Request').first().json['Media URL'], diarization: true, ...(Number($('Receive Recording Request').first().json['Number of speakers']) > 0 ? { diarization_config: { number_of_speakers: Number($('Receive Recording Request').first().json['Number of speakers']) } } : {}) }) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_GLADIA_CREDENTIAL",
          "name": "Gladia"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "id": "20000000-0000-4000-8000-000000000005",
      "name": "Wait For Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        520,
        300
      ],
      "webhookId": "c8e4f2b3-5d67-4f89-ab12-223344556677",
      "parameters": {
        "amount": "={{ $('Configure Polling').first().json.wait_seconds }}",
        "unit": "seconds"
      }
    },
    {
      "id": "20000000-0000-4000-8000-000000000006",
      "name": "Get Transcription Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        740,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.gladia.io/v2/pre-recorded/{{ $('Start Gladia Transcription').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_GLADIA_CREDENTIAL",
          "name": "Gladia"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "id": "20000000-0000-4000-8000-000000000007",
      "name": "Route By Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        960,
        300
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "done",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "failed",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $runIndex }}",
                    "rightValue": "={{ $('Configure Polling').first().json.max_attempts }}",
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "or"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Still Processing"
        }
      }
    },
    {
      "id": "20000000-0000-4000-8000-000000000008",
      "name": "Format Speaker Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ============================================================================\n// FORMAT SPEAKER TRANSCRIPT\n// Turns Gladia's diarized utterances into a clean, readable Markdown transcript.\n// Consecutive lines from the same speaker are grouped into one block, the\n// zero-based speaker index (0, 1, 2...) is relabeled to Speaker 1 / 2 / 3, and\n// each block is stamped with its start time as [mm:ss]. If no utterances came\n// back, it falls back to the plain full_transcript so nothing is lost. The\n// finished Markdown is attached as a binary file for the Drive upload.\n// ============================================================================\n\nconst result = $json.result || {};\nconst transcription = result.transcription || {};\nconst utterances = Array.isArray(transcription.utterances) ? transcription.utterances : [];\n\nconst mediaUrl = $('Receive Recording Request').first().json['Media URL'] || '';\n\n// Seconds -> mm:ss (or hh:mm:ss past an hour).\nfunction stamp(sec) {\n  const total = Math.max(0, Math.floor(Number(sec) || 0));\n  const h = Math.floor(total / 3600);\n  const m = Math.floor((total % 3600) / 60);\n  const s = total % 60;\n  const pad = (n) => String(n).padStart(2, '0');\n  return h > 0 ? h + ':' + pad(m) + ':' + pad(s) : pad(m) + ':' + pad(s);\n}\n\n// Group consecutive utterances that share a speaker into one spoken block.\nconst blocks = [];\nlet current = null;\nfor (const u of utterances) {\n  const speaker = Number.isFinite(Number(u.speaker)) ? Number(u.speaker) : 0;\n  const text = String(u.text || '').trim();\n  if (!text) continue;\n  if (!current || current.speaker !== speaker) {\n    current = { speaker, start: u.start, parts: [text] };\n    blocks.push(current);\n  } else {\n    current.parts.push(text);\n  }\n}\n\nconst speakerCount = new Set(blocks.map((b) => b.speaker)).size;\n\nlet bodyLines;\nif (blocks.length) {\n  // Relabel 0 -> Speaker 1, and stamp each block with its start time.\n  bodyLines = blocks.map(\n    (b) => 'Speaker ' + (b.speaker + 1) + ' [' + stamp(b.start) + ']: ' + b.parts.join(' ')\n  );\n} else {\n  bodyLines = [String(transcription.full_transcript || 'No transcript was returned.')];\n}\n\nconst header = [\n  '# Speaker-labeled transcript',\n  '',\n  '- Source: ' + (mediaUrl || 'unknown'),\n  '- Speakers detected: ' + (speakerCount || 'n/a'),\n  '- Transcribed with Gladia diarization',\n  '',\n  '---',\n  '',\n].join('\\n');\n\nconst transcriptMd = header + bodyLines.join('\\n\\n') + '\\n';\n\n// Deterministic, filesystem-safe file name derived from the media URL.\nconst rawName = (mediaUrl.split('/').pop() || 'recording').split('?')[0].replace(/\\.[^.]+$/, '');\nconst slug =\n  rawName.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 40) || 'recording';\nconst day = new Date().toISOString().slice(0, 10);\nconst filename = 'transcript-' + slug + '-' + day + '.md';\n\nconst binary = await this.helpers.prepareBinaryData(Buffer.from(transcriptMd, 'utf8'), filename, 'text/markdown');\n\nreturn [\n  {\n    json: {\n      filename,\n      speaker_count: speakerCount,\n      media_url: mediaUrl,\n      character_count: transcriptMd.length,\n    },\n    binary: { data: binary },\n  },\n];\n"
      }
    },
    {
      "id": "20000000-0000-4000-8000-000000000009",
      "name": "Save Transcript To Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1420,
        200
      ],
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "upload",
        "inputDataFieldName": "data",
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_DRIVE_CREDENTIAL",
          "name": "Google Drive account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "id": "20000000-0000-4000-8000-00000000000a",
      "name": "Notify Transcript Ready",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1640,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messageType": "text",
        "text": "=:white_check_mark: Transcript ready for {{ $('Receive Recording Request').first().json['Media URL'] }}\n{{ $('Format Speaker Transcript').first().json.speaker_count }} speaker(s), saved to Google Drive:\n{{ $json.webViewLink || ('https://drive.google.com/file/d/' + $json.id + '/view') }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_SLACK_CREDENTIAL",
          "name": "Slack account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "20000000-0000-4000-8000-00000000000b",
      "name": "Report Transcription Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1200,
        480
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messageType": "text",
        "text": "=:warning: Transcription failed for {{ $('Receive Recording Request').first().json['Media URL'] }}\nReason: {{ $json.error?.message || ($json.status ? ('Gladia status ' + $json.status + ' (timed out or errored)') : 'API request failed') }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_SLACK_CREDENTIAL",
          "name": "Slack account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Receive Recording Request": {
      "main": [
        [
          {
            "node": "Configure Polling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Polling": {
      "main": [
        [
          {
            "node": "Start Gladia Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Gladia Transcription": {
      "main": [
        [
          {
            "node": "Wait For Processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Report Transcription Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Processing": {
      "main": [
        [
          {
            "node": "Get Transcription Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transcription Result": {
      "main": [
        [
          {
            "node": "Route By Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Report Transcription Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Status": {
      "main": [
        [
          {
            "node": "Format Speaker Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Report Transcription Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait For Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Speaker Transcript": {
      "main": [
        [
          {
            "node": "Save Transcript To Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Transcript To Drive": {
      "main": [
        [
          {
            "node": "Notify Transcript Ready",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Report Transcription Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {},
  "tags": []
}
