pending-submission/n8n-open-questions-researcher/workflow.json
{
  "name": "Answer a Notion questions queue in place using You.com research",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pageAddedToDatabase",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_QUESTIONS_DATABASE_ID"
        },
        "simple": true
      },
      "id": "a1f0c2e4-1111-4a10-9b01-0f0a0b0c0d01",
      "name": "When a Question Is Added",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        80,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1000000-0000-4000-8000-000000000001",
              "leftValue": "={{ $json['Question'] }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "rightValue": ""
            },
            {
              "id": "c1000000-0000-4000-8000-000000000002",
              "leftValue": "={{ $json['Status'] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "To Research"
            }
          ]
        },
        "options": {}
      },
      "id": "a1f0c2e4-2222-4a10-9b01-0f0a0b0c0d02",
      "name": "If Row Needs Research",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        760
      ]
    },
    {
      "parameters": {
        "operation": "research",
        "input": "={{ $('When a Question Is Added').item.json['Question'] }}",
        "researchEffort": "standard"
      },
      "id": "a1f0c2e4-3333-4a10-9b01-0f0a0b0c0d03",
      "name": "Research the Question",
      "type": "@youdotcom-oss/n8n-nodes-youdotcom.youDotCom",
      "typeVersion": 1,
      "position": [
        720,
        760
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('When a Question Is Added').item.json.id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Answer|rich_text",
              "textContent": "={{ ($('Research the Question').item.json.output?.content ?? 'No answer was returned.').toString().slice(0, 1900) }}"
            },
            {
              "key": "Sources|rich_text",
              "textContent": "={{ (($('Research the Question').item.json.output?.sources ?? []).map((s, i) => (i + 1) + '. ' + (s.title || s.url) + ' - ' + s.url).join('\\n') || 'No sources were returned.').slice(0, 1900) }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Answered"
            }
          ]
        },
        "options": {}
      },
      "id": "a1f0c2e4-4444-4a10-9b01-0f0a0b0c0d04",
      "name": "Write Answer and Mark Answered",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1080,
        640
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('When a Question Is Added').item.json.id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Answer|rich_text",
              "textContent": "={{ 'Research did not complete: ' + ($json.error ?? 'unknown error') + '. The row was left as To Research so you can retry it.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1f0c2e4-5555-4a10-9b01-0f0a0b0c0d05",
      "name": "Log the Research Failure",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1080,
        920
      ]
    },
    {
      "parameters": {
        "content": "## Answer a Notion questions queue in place using You.com research\n\n### How it works\n\n1. A Notion trigger picks up each new row added to your questions database.\n2. A guard skips any row with an empty question or a status that is not `To Research`.\n3. The You.com research operation answers the question and returns a cited Markdown write-up with a source list.\n4. A Notion update writes the answer and sources back into the same row and flips its status to `Answered`.\n\n### Setup steps\n\n- [ ] Install the You.com community node `@youdotcom-oss/n8n-nodes-youdotcom` (self-hosted n8n only).\n- [ ] Add You.com and Notion credentials and select them on their nodes.\n- [ ] Point `When a Question Is Added` at a Notion database with `Question` (title), `Status` (select), `Answer` (text), and `Sources` (text).\n- [ ] Add `To Research` and `Answered` as options on the `Status` select.\n\n### Customization\nRaise the depth on `Research the Question` from `standard` to `deep` or `exhaustive`, or swap the Notion trigger for a Schedule trigger that queries `Status = To Research` to run on n8n Cloud.",
        "height": 540,
        "width": 760
      },
      "id": "a1f0c2e4-6666-4a10-9b01-0f0a0b0c0d06",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Intake and guard\n\nA Notion trigger fires on each new question row, and the guard drops empty or not-ready rows before spending a research call.",
        "height": 320,
        "width": 600,
        "color": 7
      },
      "id": "a1f0c2e4-7777-4a10-9b01-0f0a0b0c0d07",
      "name": "Section Intake",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        40,
        660
      ]
    },
    {
      "parameters": {
        "content": "## Research the question\n\nYou.com researches the question and returns a cited Markdown answer plus a source list in a single call.",
        "height": 320,
        "width": 300,
        "color": 7
      },
      "id": "a1f0c2e4-8888-4a10-9b01-0f0a0b0c0d08",
      "name": "Section Research",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        660
      ]
    },
    {
      "parameters": {
        "content": "## Answer in place\n\nThe same row gets the answer and sources written back and its status flips to `Answered`. A failed lookup logs a note and leaves the row as `To Research` so you can retry it.",
        "height": 540,
        "width": 400,
        "color": 7
      },
      "id": "a1f0c2e4-9999-4a10-9b01-0f0a0b0c0d09",
      "name": "Section Answer",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        560
      ]
    },
    {
      "parameters": {
        "content": "## Self-hosted only\n\nThe You.com node is a community node, so this runs on self-hosted n8n. On n8n Cloud, use the HTTP Request plus Schedule trigger variant described in the README.",
        "height": 150,
        "width": 300,
        "color": 3
      },
      "id": "a1f0c2e4-aaaa-4a10-9b01-0f0a0b0c0d10",
      "name": "Warning self-hosted",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        1000
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When a Question Is Added": {
      "main": [
        [
          {
            "node": "If Row Needs Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Row Needs Research": {
      "main": [
        [
          {
            "node": "Research the Question",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Research the Question": {
      "main": [
        [
          {
            "node": "Write Answer and Mark Answered",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log the Research Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodeGroups": [],
  "tags": []
}
