pending-submission/n8n-open-questions-researcher/workflow.json
{
  "name": "Answer a Notion questions queue in place using You.com research",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_QUESTIONS_DATABASE_ID"
        }
      },
      "id": "14bffe39-57ae-4716-9089-31042921d546",
      "name": "When a Question Is Added",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        48,
        736
      ],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_YOUR_NOTION_CREDENTIAL",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-question",
              "leftValue": "={{ $json['Question'] }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "rightValue": ""
            },
            {
              "id": "cond-status",
              "leftValue": "={{ $json['Status'] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "To Research"
            }
          ]
        },
        "options": {}
      },
      "id": "d634b4ac-7c6e-4bb1-9817-ef27e8355438",
      "name": "If Row Needs Research",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        736
      ]
    },
    {
      "parameters": {
        "operation": "research",
        "input": "={{ $('When a Question Is Added').item.json['Question'] }}"
      },
      "id": "03b9b4aa-a1c6-40a3-a334-45c8f1e59233",
      "name": "Research the Question",
      "type": "@youdotcom-oss/n8n-nodes-youdotcom.youDotCom",
      "typeVersion": 1,
      "position": [
        768,
        720
      ],
      "credentials": {
        "youDotComApi": {
          "id": "REPLACE_WITH_YOUR_YOUCOM_CREDENTIAL",
          "name": "You.com account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('When a Question Is Added').item.json.id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Answer|rich_text",
              "textContent": "={{ ($('Research the Question').item.json.output?.content ?? 'No answer was returned.').toString().slice(0, 1900) }}"
            },
            {
              "key": "Sources|rich_text",
              "textContent": "={{ (($('Research the Question').item.json.output?.sources ?? []).map((s, i) => (i + 1) + '. ' + (s.title || s.url) + ' - ' + s.url).join('\\n') || 'No sources were returned.').slice(0, 1900) }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Answered"
            }
          ]
        },
        "options": {}
      },
      "id": "09ce5e4c-dcad-4675-8a36-1b8cf0baec63",
      "name": "Write Answer and Mark Answered",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1296,
        704
      ],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_YOUR_NOTION_CREDENTIAL",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('When a Question Is Added').item.json.id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Answer|rich_text",
              "textContent": "={{ 'Research did not complete: ' + ($json.error?.message ?? $json.error ?? 'unknown error') + '. The row was left as To Research so you can retry it.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "442678e8-f0a8-4461-af61-be8a093e65ea",
      "name": "Log the Research Failure",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1296,
        912
      ],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_YOUR_NOTION_CREDENTIAL",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Answer a Notion questions queue in place using You.com research\n\n### How it works\n\n1. A Notion trigger picks up each new row added to your questions database.\n2. A guard skips any row with an empty question or a status that is not `To Research`.\n3. The You.com research operation answers the question and returns a cited Markdown write-up with a source list.\n4. A Notion update writes the answer and sources back into the same row and flips its status to `Answered`.\n\n### Setup steps\n\n- [ ] Install the You.com community node `@youdotcom-oss/n8n-nodes-youdotcom` (self-hosted n8n only).\n- [ ] Add You.com and Notion credentials and select them on their nodes.\n- [ ] Point `When a Question Is Added` at a Notion database with `Question` (title), `Status` (select), `Answer` (text), and `Sources` (text).\n- [ ] Add `To Research` and `Answered` as options on the `Status` select.\n\n### Customization\nRaise the depth on `Research the Question` from `standard` to `deep` or `exhaustive`, or swap the Notion trigger for a Schedule trigger that queries `Status = To Research` to run on n8n Cloud.",
        "height": 668,
        "width": 728
      },
      "id": "64b945c9-0ad2-488a-a6c6-97086d321f00",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -896,
        416
      ]
    },
    {
      "parameters": {
        "content": "## Intake and guard\n\nA Notion trigger fires on each new question row, and the guard drops empty or not-ready rows before spending a research call.",
        "height": 384,
        "width": 568,
        "color": 7
      },
      "id": "cf56d67a-c1ef-457c-b887-3dd1e3822f22",
      "name": "Section Intake",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        560
      ]
    },
    {
      "parameters": {
        "content": "## Research the question\n\nYou.com researches the question and returns a cited Markdown answer plus a source list in a single call.",
        "height": 368,
        "width": 428,
        "color": 7
      },
      "id": "5e622028-06c2-43cd-80eb-aa609375fabd",
      "name": "Section Research",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        544
      ]
    },
    {
      "parameters": {
        "content": "## Answer in place\n\nThe same row gets the answer and sources written back and its status flips to `Answered`. A failed lookup logs a note and leaves the row as `To Research` so you can retry it.",
        "height": 620,
        "width": 480,
        "color": 7
      },
      "id": "10a15ddb-6578-46ab-807e-411b50b3a232",
      "name": "Section Answer",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        480
      ]
    },
    {
      "parameters": {
        "content": "## Self-hosted only\n\nThe You.com node is a community node, so this runs on self-hosted n8n. On n8n Cloud, use the HTTP Request plus Schedule trigger variant described in the README.",
        "height": 150,
        "width": 716,
        "color": 3
      },
      "id": "6a6497f0-21c5-42ec-b6ac-68e9646732ec",
      "name": "Warning self-hosted",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        992
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When a Question Is Added": {
      "main": [
        [
          {
            "node": "If Row Needs Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Row Needs Research": {
      "main": [
        [
          {
            "node": "Research the Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research the Question": {
      "main": [
        [
          {
            "node": "Write Answer and Mark Answered",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log the Research Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {},
  "tags": []
}