pending-submission/n8n-asana-sheet-mirror/workflow.json
{
  "name": "Sync Asana project tasks to a Google Sheet mirror",
  "nodes": [
    {
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        96
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Set Sync Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        96
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "asana_project_gid",
              "value": "REPLACE_WITH_ASANA_PROJECT_GID",
              "type": "string"
            },
            {
              "id": "c2",
              "name": "sheet_id",
              "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
              "type": "string"
            },
            {
              "id": "c3",
              "name": "sheet_tab",
              "value": "Tasks",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Fetch Asana Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://app.asana.com/api/1.0/projects/{{ $json.asana_project_gid }}/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "opt_fields",
              "value": "name,assignee.name,due_on,completed,memberships.section.name,permalink_url,modified_at"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "updateAParameterInEachRequest",
              "parameters": {
                "parameters": [
                  {
                    "type": "qs",
                    "name": "offset",
                    "value": "={{ $response.body.next_page?.offset }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body.next_page }}",
              "limitPagesFetched": false
            }
          }
        }
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "REPLACE_WITH_YOUR_ASANA_BEARER_CREDENTIAL",
          "name": "Asana PAT"
        }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Flatten Tasks to Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Flatten Asana tasks into one flat sheet row each.\n// Handles the HTTP Request response ({ data: [...] } per page) and the Asana\n// node shape (one item per task). Each row is tagged _source='asana' so the\n// Diff node can tell it apart from existing sheet rows after the Merge.\nconst items = $input.all();\nconst tasks = [];\nfor (const item of items) {\n  const j = item.json || {};\n  if (Array.isArray(j.data)) {\n    for (const t of j.data) tasks.push(t);\n  } else {\n    tasks.push(j);\n  }\n}\nconst now = new Date().toISOString();\nreturn tasks\n  .filter((t) => t && t.gid)\n  .map((t) => {\n    let section = '';\n    if (Array.isArray(t.memberships)) {\n      const m = t.memberships.find((x) => x && x.section && x.section.name);\n      if (m) section = m.section.name;\n    }\n    return {\n      json: {\n        gid: String(t.gid),\n        name: t.name || '',\n        assignee: t.assignee && t.assignee.name ? t.assignee.name : '',\n        section,\n        due_on: t.due_on || '',\n        completed: t.completed === true ? 'Yes' : 'No',\n        permalink: t.permalink_url || '',\n        modified_at: t.modified_at || '',\n        synced_at: now,\n        present: 'Yes',\n        _source: 'asana',\n      },\n    };\n  });"
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Read Existing Rows in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        192
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Set Sync Config\").first().json.sheet_id }}",
          "cachedResultName": "Your Spreadsheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $(\"Set Sync Config\").first().json.sheet_tab }}",
          "cachedResultName": "Tasks"
        },
        "options": {}
      },
      "onError": "continueRegularOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000006",
      "name": "Merge Tasks and Sheet Rows",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        96
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000007",
      "name": "Diff Tasks by GID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        96
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Self-healing diff. Input = Asana rows (_source='asana') plus the existing\n// sheet rows, merged. Emit every Asana task as an upsert (present=Yes) and every\n// sheet row whose GID is gone from Asana as a soft-delete (present=No). Rows are\n// never dropped, only re-flagged. Counts ride on every item for the summary node.\nconst all = $input.all();\nconst now = new Date().toISOString();\nconst asanaRows = all.filter((i) => i.json && i.json._source === 'asana').map((i) => i.json);\nconst sheetRows = all.filter((i) => i.json && i.json._source !== 'asana').map((i) => i.json);\n\nconst asanaByGid = new Map(asanaRows.map((r) => [String(r.gid), r]));\nconst sheetByGid = new Map(sheetRows.filter((r) => r && r.gid).map((r) => [String(r.gid), r]));\n\nconst out = [];\nlet created = 0, updated = 0, removed = 0, alreadyRemoved = 0;\n\nfor (const [gid, row] of asanaByGid) {\n  const existed = sheetByGid.has(gid);\n  if (existed) updated++; else created++;\n  const { _source, ...clean } = row;\n  out.push({ json: { ...clean, present: 'Yes', _op: 'upsert', _status: existed ? 'updated' : 'created' } });\n}\n\nfor (const [gid, row] of sheetByGid) {\n  if (asanaByGid.has(gid)) continue;\n  const wasPresent = String(row.present).toLowerCase() !== 'no';\n  if (wasPresent) removed++; else alreadyRemoved++;\n  out.push({\n    json: {\n      gid: String(gid),\n      name: row.name || '',\n      assignee: row.assignee || '',\n      section: row.section || '',\n      due_on: row.due_on || '',\n      completed: row.completed || '',\n      permalink: row.permalink || '',\n      modified_at: row.modified_at || '',\n      synced_at: now,\n      present: 'No',\n      _op: 'softdelete',\n      _status: wasPresent ? 'removed' : 'already_removed',\n    },\n  });\n}\n\nconst counts = {\n  created, updated, removed, already_removed: alreadyRemoved,\n  soft_delete_writes: removed + alreadyRemoved,\n  asana_total: asanaByGid.size, sheet_total_before: sheetByGid.size,\n};\nfor (const o of out) o.json._counts = counts;\nreturn out;"
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000008",
      "name": "Route Upsert and Soft-Delete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        96
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json._op }}",
              "rightValue": "upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-000000000009",
      "name": "Upsert Rows in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        0
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Set Sync Config\").first().json.sheet_id }}",
          "cachedResultName": "Your Spreadsheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $(\"Set Sync Config\").first().json.sheet_tab }}",
          "cachedResultName": "Tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "gid"
          ],
          "value": {
            "gid": "={{ $json.gid }}",
            "name": "={{ $json.name }}",
            "assignee": "={{ $json.assignee }}",
            "section": "={{ $json.section }}",
            "due_on": "={{ $json.due_on }}",
            "completed": "={{ $json.completed }}",
            "permalink": "={{ $json.permalink }}",
            "modified_at": "={{ $json.modified_at }}",
            "synced_at": "={{ $json.synced_at }}",
            "present": "={{ $json.present }}"
          },
          "schema": [
            {
              "id": "gid",
              "displayName": "gid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assignee",
              "displayName": "assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "section",
              "displayName": "section",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "due_on",
              "displayName": "due_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "completed",
              "displayName": "completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "permalink",
              "displayName": "permalink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "modified_at",
              "displayName": "modified_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "synced_at",
              "displayName": "synced_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "present",
              "displayName": "present",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-00000000000a",
      "name": "Merge Write Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1792,
        96
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      }
    },
    {
      "id": "a1000000-0000-4000-8000-00000000000b",
      "name": "Flag Removed Rows in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        192
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Set Sync Config\").first().json.sheet_id }}",
          "cachedResultName": "Your Spreadsheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $(\"Set Sync Config\").first().json.sheet_tab }}",
          "cachedResultName": "Tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "gid"
          ],
          "value": {
            "gid": "={{ $json.gid }}",
            "present": "={{ $json.present }}",
            "synced_at": "={{ $json.synced_at }}"
          },
          "schema": [
            {
              "id": "gid",
              "displayName": "gid",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "present",
              "displayName": "present",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "synced_at",
              "displayName": "synced_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1000000-0000-4000-8000-00000000000c",
      "name": "Build Run Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        96
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// One-line run summary from the counts the Diff node attached to each item.\nconst diff = $('Diff Tasks by GID').all();\nconst c = diff.length\n  ? diff[0].json._counts\n  : { created: 0, updated: 0, removed: 0, already_removed: 0, soft_delete_writes: 0, asana_total: 0, sheet_total_before: 0 };\nconst summary = 'Mirror synced: ' + c.created + ' created, ' + c.updated + ' updated, ' + c.removed + ' newly removed (present=No). ' + c.asana_total + ' live tasks now in the sheet.';\nreturn [{ json: Object.assign({ summary: summary }, c, { run_at: new Date().toISOString() }) }];"
      },
      "executeOnce": true
    },
    {
      "id": "a1000000-0000-4000-8000-00000000000d",
      "name": "Finish Sync Run",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2240,
        96
      ],
      "parameters": {}
    },
    {
      "id": "a1000000-0000-4000-8000-0000000000f0",
      "name": "Sticky Note Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -620,
        -40
      ],
      "parameters": {
        "content": "## Sync Asana project tasks to a Google Sheet mirror\n\n### How it works\n\n1. On a schedule, the workflow reads every task in one Asana project with its status, assignee, due date and section.\n2. It reads the current sheet, then diffs by task GID: tasks still in Asana are upserted, and rows whose task is gone are flagged `present` = `No`.\n3. The sheet becomes an always-current mirror you can pivot and filter, and no row is ever hard-deleted.\n\n### Setup steps\n\n- [ ] Add an Asana Personal Access Token as a Bearer Auth credential and select it on `Fetch Asana Tasks`.\n- [ ] Add your Google Sheets credential and pick your spreadsheet and `Tasks` tab on the three Google Sheets nodes.\n- [ ] In `Set Sync Config`, set `asana_project_gid`, `sheet_id` and `sheet_tab`.\n- [ ] Add a header row to the tab: gid, name, assignee, section, due_on, completed, permalink, modified_at, synced_at, present.\n\n### Customization\n\nChange the schedule interval to sync more or less often. Optionally feed the run-summary counts to a Groq node for a one-line note on what changed; the mirror stays deterministic and the model never touches row data.",
        "width": 520,
        "height": 560
      }
    },
    {
      "id": "a1000000-0000-4000-8000-0000000000f1",
      "name": "Sticky Note Configure",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        8
      ],
      "parameters": {
        "content": "## Configure the sync\n\nSet the schedule, the Asana project GID and the target Sheet ID and tab in one place.",
        "color": 7,
        "width": 400,
        "height": 264
      }
    },
    {
      "id": "a1000000-0000-4000-8000-0000000000f2",
      "name": "Sticky Note Read",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        408,
        -72
      ],
      "parameters": {
        "content": "## Read from Asana and Sheets\n\nPull tasks from Asana with `opt_fields` for the section, flatten them to rows, and read the current sheet.",
        "color": 7,
        "width": 420,
        "height": 384
      }
    },
    {
      "id": "a1000000-0000-4000-8000-0000000000f3",
      "name": "Sticky Note Diff",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        856,
        8
      ],
      "parameters": {
        "content": "## Merge and diff by GID\n\nThe self-healing core: upsert tasks still in Asana, flag rows whose task is gone.",
        "color": 7,
        "width": 624,
        "height": 264
      }
    },
    {
      "id": "a1000000-0000-4000-8000-0000000000f4",
      "name": "Sticky Note Write",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1528,
        -72
      ],
      "parameters": {
        "content": "## Write the mirror\n\nUpsert live tasks, set `present` = `No` on removed rows, and converge both branches.",
        "color": 7,
        "width": 400,
        "height": 384
      }
    },
    {
      "id": "a1000000-0000-4000-8000-0000000000f5",
      "name": "Sticky Note Summary",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1976,
        8
      ],
      "parameters": {
        "content": "## Summarize the run\n\nLog a one-line count of created, updated and removed, kept for inspection.",
        "color": 7,
        "width": 400,
        "height": 264
      }
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Set Sync Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sync Config": {
      "main": [
        [
          {
            "node": "Fetch Asana Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Existing Rows in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Asana Tasks": {
      "main": [
        [
          {
            "node": "Flatten Tasks to Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Tasks to Rows": {
      "main": [
        [
          {
            "node": "Merge Tasks and Sheet Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Tasks and Sheet Rows": {
      "main": [
        [
          {
            "node": "Diff Tasks by GID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Rows in Sheets": {
      "main": [
        [
          {
            "node": "Merge Tasks and Sheet Rows",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Diff Tasks by GID": {
      "main": [
        [
          {
            "node": "Route Upsert and Soft-Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Upsert and Soft-Delete": {
      "main": [
        [
          {
            "node": "Upsert Rows in Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag Removed Rows in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Rows in Sheets": {
      "main": [
        [
          {
            "node": "Merge Write Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Write Results": {
      "main": [
        [
          {
            "node": "Build Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Removed Rows in Sheets": {
      "main": [
        [
          {
            "node": "Merge Write Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Run Summary": {
      "main": [
        [
          {
            "node": "Finish Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {},
  "tags": []
}