pending-submission/n8n-gladia-drive-transcriber/workflow.json
{
  "name": "Transcribe new audio files from Google Drive using Gladia and Google Sheets",
  "nodes": [
    {
      "parameters": {
        "width": 480,
        "height": 580,
        "content": "## Transcribe new audio files from Google Drive using Gladia and Google Sheets\n\n### How it works\n\n1. A Google Drive trigger fires when a new audio or video file lands in a watched folder.\n2. The file is downloaded and sent to Gladia, which transcribes it asynchronously.\n3. The workflow polls Gladia until the transcript is ready, then saves it as a Markdown file in a Drive folder.\n4. Every run is logged to a Google Sheet, and failures are logged with a reason so nothing is lost silently.\n\n### Setup steps\n\n- [ ] Create a Header Auth credential named Gladia with header name x-gladia-key and your Gladia API key.\n- [ ] Connect a Google Drive credential, then set the watched folder on the trigger and the Transcripts folder on Save Transcript to Drive.\n- [ ] Connect a Google Sheets credential and pick the spreadsheet and tab that hold the log.\n- [ ] Adjust wait_seconds and max_attempts in Prepare Config Values if your files run long.\n\n### Customization\n\nPoint the trigger at any Drive folder, change the transcript layout in Build Transcript File, or add a Slack node after the log to get a ping when a transcript is ready."
      },
      "id": "aa000000-0000-4000-8000-000000000001",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        100
      ]
    },
    {
      "parameters": {
        "width": 700,
        "height": 240,
        "color": 7,
        "content": "## Watch and download the file\n\nA new file in the Drive folder triggers the run, config values are prepared, then the file is downloaded to binary."
      },
      "id": "aa000000-0000-4000-8000-000000000002",
      "name": "Group Watch And Download",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        200
      ]
    },
    {
      "parameters": {
        "width": 440,
        "height": 240,
        "color": 7,
        "content": "## Send audio to Gladia\n\nUpload the file to Gladia, then start an asynchronous transcription job."
      },
      "id": "aa000000-0000-4000-8000-000000000003",
      "name": "Group Send To Gladia",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "width": 660,
        "height": 240,
        "color": 7,
        "content": "## Poll until transcription is done\n\nWait, fetch the result, and route by status. Loop back until Gladia returns done or the attempt limit is reached."
      },
      "id": "aa000000-0000-4000-8000-000000000004",
      "name": "Group Poll For Result",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "width": 720,
        "height": 260,
        "color": 7,
        "content": "## Save transcript and log\n\nBuild a Markdown transcript, save it to Drive, and append a row to the log sheet."
      },
      "id": "aa000000-0000-4000-8000-000000000005",
      "name": "Group Save And Log",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1820,
        120
      ]
    },
    {
      "parameters": {
        "width": 340,
        "height": 200,
        "color": 7,
        "content": "## Handle failures\n\nAny API error or a timeout writes a Failed row with a reason, so nothing fails silently."
      },
      "id": "aa000000-0000-4000-8000-000000000006",
      "name": "Group Handle Failures",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1820,
        420
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_SOURCE_FOLDER_ID"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "bb000000-0000-4000-8000-000000000001",
      "name": "Google Drive Audio Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_DRIVE_CREDENTIAL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "wait_seconds",
              "value": 15,
              "type": "number"
            },
            {
              "id": "c2",
              "name": "max_attempts",
              "value": 40,
              "type": "number"
            }
          ]
        }
      },
      "id": "bb000000-0000-4000-8000-000000000002",
      "name": "Prepare Config Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Google Drive Audio Trigger').item.json.id }}"
        },
        "options": {}
      },
      "id": "bb000000-0000-4000-8000-000000000003",
      "name": "Download File from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_DRIVE_CREDENTIAL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.gladia.io/v2/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "bb000000-0000-4000-8000-000000000004",
      "name": "Upload Audio to Gladia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_GLADIA_CREDENTIAL",
          "name": "Gladia"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.gladia.io/v2/pre-recorded",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"audio_url\": $json.audio_url } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "bb000000-0000-4000-8000-000000000005",
      "name": "Start Transcription Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_GLADIA_CREDENTIAL",
          "name": "Gladia"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $('Prepare Config Values').item.json.wait_seconds }}",
        "unit": "seconds"
      },
      "id": "bb000000-0000-4000-8000-000000000006",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1140,
        300
      ],
      "webhookId": "d7c1b8a2-6f0e-4b1a-9c3d-2e5f7a9b0c11"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.gladia.io/v2/pre-recorded/{{ $('Start Transcription Job').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "bb000000-0000-4000-8000-000000000007",
      "name": "Get Transcription Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        300
      ],
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_GLADIA_CREDENTIAL",
          "name": "Gladia"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "done",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "failed",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $runIndex }}",
                    "rightValue": "={{ $('Prepare Config Values').item.json.max_attempts }}",
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "or"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Still Processing"
        }
      },
      "id": "bb000000-0000-4000-8000-000000000008",
      "name": "Route by Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1580,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Build a Markdown transcript file from Gladia's result.\n// Runs once per completed transcription (the Route by Status \"done\" output).\n\nconst result = $json.result || {};\nconst transcription = result.transcription || {};\n\nconst fullTranscript = (transcription.full_transcript || '').trim();\nconst utterances = Array.isArray(transcription.utterances) ? transcription.utterances : [];\n\n// Duration can sit in a couple of places depending on the response shape.\nconst duration =\n  result.metadata?.audio_duration ??\n  $json.file?.audio_duration ??\n  $('Upload Audio to Gladia').item.json.audio_metadata?.audio_duration ??\n  null;\n\nconst sourceName = $('Google Drive Audio Trigger').item.json.name || 'audio-file';\nconst baseName = sourceName.replace(/\\.[^/.]+$/, '');\nconst stamp = $now.toFormat('yyyyLLdd-HHmmss');\nconst fileName = baseName + '-transcript-' + stamp + '.md';\n\n// Assemble a readable Markdown document. Speaker-labelled lines when Gladia\n// returns utterances, otherwise the plain full transcript.\nlet body = '# Transcript: ' + sourceName + '\\n\\n';\nbody += '- Source file: ' + sourceName + '\\n';\nbody += '- Duration: ' + (duration != null ? duration + ' seconds' : 'unknown') + '\\n';\nbody += '- Transcribed: ' + $now.toISO() + '\\n\\n---\\n\\n';\n\nif (utterances.length) {\n  for (const u of utterances) {\n    const who = (u.speaker !== undefined && u.speaker !== null) ? ('Speaker ' + u.speaker) : 'Speaker';\n    body += '**' + who + ':** ' + (u.text || '').trim() + '\\n\\n';\n  }\n} else {\n  body += (fullTranscript || '(No transcript text was returned.)') + '\\n';\n}\n\nconst preview = fullTranscript.slice(0, 180);\n\nreturn {\n  json: {\n    source_file: sourceName,\n    audio_duration: duration,\n    file_name: fileName,\n    preview: preview,\n    status: 'Transcribed',\n  },\n  binary: {\n    data: {\n      data: Buffer.from(body, 'utf-8').toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: fileName,\n      fileExtension: 'md',\n    },\n  },\n};"
      },
      "id": "bb000000-0000-4000-8000-000000000009",
      "name": "Build Transcript File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        220
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.file_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_TRANSCRIPTS_FOLDER_ID"
        },
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "bb000000-0000-4000-8000-000000000010",
      "name": "Save Transcript to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2080,
        220
      ],
      "onError": "continueErrorOutput",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_DRIVE_CREDENTIAL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_SHEET_TAB",
          "cachedResultName": "Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Source File": "={{ $('Google Drive Audio Trigger').item.json.name }}",
            "Duration (s)": "={{ $('Build Transcript File').item.json.audio_duration }}",
            "Status": "Transcribed",
            "Transcript Link": "={{ $json.webViewLink || 'https://drive.google.com/file/d/' + $json.id + '/view' }}",
            "Detail": "={{ $('Build Transcript File').item.json.preview }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source File",
              "displayName": "Source File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration (s)",
              "displayName": "Duration (s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transcript Link",
              "displayName": "Transcript Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Detail",
              "displayName": "Detail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "bb000000-0000-4000-8000-000000000011",
      "name": "Log Transcript in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2300,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_SHEET_TAB",
          "cachedResultName": "Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Source File": "={{ $('Google Drive Audio Trigger').first().json.name }}",
            "Duration (s)": "",
            "Status": "Failed",
            "Transcript Link": "",
            "Detail": "={{ $json.error?.message || ($json.status ? ('Gladia status: ' + $json.status) : 'Transcription failed or timed out. Check the execution log.') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source File",
              "displayName": "Source File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration (s)",
              "displayName": "Duration (s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transcript Link",
              "displayName": "Transcript Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Detail",
              "displayName": "Detail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "bb000000-0000-4000-8000-000000000012",
      "name": "Log Failure in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1860,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Audio Trigger": {
      "main": [
        [
          {
            "node": "Prepare Config Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Config Values": {
      "main": [
        [
          {
            "node": "Download File from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File from Drive": {
      "main": [
        [
          {
            "node": "Upload Audio to Gladia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio to Gladia": {
      "main": [
        [
          {
            "node": "Start Transcription Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Transcription Job": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Get Transcription Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transcription Result": {
      "main": [
        [
          {
            "node": "Route by Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Status": {
      "main": [
        [
          {
            "node": "Build Transcript File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure in Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Transcript File": {
      "main": [
        [
          {
            "node": "Save Transcript to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Transcript to Drive": {
      "main": [
        [
          {
            "node": "Log Transcript in Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
