published/n8n-sfx-chat-generator/workflow.json
{
  "name": "Generate sound effects from chat using ElevenLabs and Google Drive",
  "nodes": [
    {
      "parameters": {
        "public": false,
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "f3b798d9-9002-439e-8b4f-9c48118ce766",
      "name": "When Chat Message Received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        208,
        432
      ],
      "webhookId": "c980774a-e3e2-4694-b4fa-6515427c60bf"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": false,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are an expert sound-effects director for the ElevenLabs sound-generation API. Turn the user's casual description into ONE richly detailed, literal sound-effects prompt, then choose sensible settings.\n\nWrite the prompt so it describes the sound literally: the source, material, action, environment, and how it evolves over time. Prefer concrete audio detail (for example, \"a heavy oak door slowly creaking open, hinges groaning, faint echo in a stone hall\") over vague labels (for example, \"door sound\"). Keep it to one continuous sound event unless the user clearly asks for a sequence. Do not add music or narration unless asked.\n\nPick duration_seconds between 0.5 and 30 (0.5 to 2 for short impacts like clicks or thuds, 8 to 20 for ambiences or drones). Pick prompt_influence between 0 and 1 (about 0.3 for organic or natural sounds, 0.6 to 0.8 for precise, mechanical, or branded sounds).\n\nReturn ONLY a JSON object and nothing else. No markdown, no code fences, no commentary. Use exactly these keys:\n{\"sfx_prompt\": \"a literal detailed description\", \"duration_seconds\": 6, \"prompt_influence\": 0.3}"
            }
          ]
        }
      },
      "id": "1be4e4e1-1a4c-4ed1-8950-147616abedcf",
      "name": "Compose Sound Effect Prompt",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        368,
        432
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "56b2b93d-a170-4de4-81e4-920aba80d35f",
      "name": "Groq Llama Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        368,
        640
      ],
      "credentials": {
        "groqApi": {
          "id": "REPLACE_WITH_YOUR_GROQ_CREDENTIAL",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse the sound director's JSON reply, then normalize and clamp it.\n// Robust by design: any parse failure falls back to the user's own words,\n// so an empty, garbled, or non-JSON reply still yields a valid request.\n\nconst rawMessage = ($('When Chat Message Received').item.json.chatInput || '').toString().trim();\n\n// Basic LLM Chain returns the model text; be liberal about where it sits.\nconst text = ($json.text ?? $json.response?.text ?? $json.output ?? $json.data ?? '').toString();\n\nlet parsed = {};\ntry {\n  // Drop any markdown fences, then grab the first {...} block if prose surrounds it.\n  const cleaned = text.replace(/```(?:json)?/gi, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : cleaned);\n} catch (e) {\n  parsed = {};\n}\n\nconst clamp = (n, lo, hi) => Math.min(hi, Math.max(lo, n));\nconst toNum = (v) => {\n  const n = typeof v === 'number' ? v : parseFloat(v);\n  return Number.isFinite(n) ? n : null;\n};\n\n// Prompt: prefer the director's rewrite, fall back to the raw words, then a safe default.\nlet sfxPrompt = (parsed && typeof parsed.sfx_prompt === 'string') ? parsed.sfx_prompt.trim() : '';\nif (!sfxPrompt) sfxPrompt = rawMessage;\nif (!sfxPrompt) sfxPrompt = 'a soft, short ambient tone';\n\n// Duration: clamp to the ElevenLabs 0.5-30s window; default 3s if missing.\nlet duration = toNum(parsed ? parsed.duration_seconds : null);\nduration = duration === null ? 3 : Math.round(clamp(duration, 0.5, 30) * 10) / 10;\n\n// Prompt influence: clamp to 0-1; default 0.3 (the ElevenLabs default).\nlet influence = toNum(parsed ? parsed.prompt_influence : null);\ninfluence = influence === null ? 0.3 : clamp(influence, 0, 1);\n\nreturn { json: { sfx_prompt: sfxPrompt, duration_seconds: duration, prompt_influence: influence } };"
      },
      "id": "47ae501d-fa45-43e3-8961-15e3211e27a5",
      "name": "Clamp Sound Settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/sound-generation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_44100_128"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.sfx_prompt, duration_seconds: $json.duration_seconds, prompt_influence: $json.prompt_influence }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "id": "2f2cd044-0524-4faf-88ef-68812efb29b9",
      "name": "Generate Sound With ElevenLabs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        432
      ],
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_ELEVENLABS_CREDENTIAL",
          "name": "ElevenLabs"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "inputDataFieldName": "data",
        "name": "=sfx-{{ $('Clamp Sound Settings').item.json.sfx_prompt.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 40) }}-{{ $now.toFormat('yyyyLLdd-HHmmss') }}.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {
          "simplifyOutput": false
        }
      },
      "id": "3ab8d1b6-17e8-45e9-90fb-f0a236f5b98b",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        416
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_DRIVE_CREDENTIAL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64f5195f-b64c-433e-999d-8a2747ff43a5",
              "name": "output",
              "type": "string",
              "value": "=🔊 Your sound effect is ready.\n\n**Prompt used:** {{ $('Clamp Sound Settings').item.json.sfx_prompt }}\n**Duration:** {{ $('Clamp Sound Settings').item.json.duration_seconds }}s  ·  **Prompt influence:** {{ $('Clamp Sound Settings').item.json.prompt_influence }}\n\n▶️ Open it in Google Drive: {{ $json.webViewLink || 'https://drive.google.com/file/d/' + $json.id + '/view' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f290348d-1811-4b3a-8b5c-c922b4de4ee4",
      "name": "Respond in Chat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67d98c22-f143-40cd-ba1e-a55567153163",
              "name": "output",
              "type": "string",
              "value": "=⚠️ I couldn't generate that sound effect just now. The sound service may be busy, or the description was unclear. Please try again with a clear description like \"a heavy wooden door creaking open\" or \"distant thunder rumbling\"."
            }
          ]
        },
        "options": {}
      },
      "id": "af73ac51-15d0-41ef-9fdc-60518aab7394",
      "name": "Report Sound Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        608
      ]
    },
    {
      "parameters": {
        "content": "## Generate sound effects from chat using ElevenLabs and Google Drive\n\n### How it works\n\n1. The user describes a sound in plain words in the chat.\n2. A Groq model acts as a sound-effects director and rewrites the request into a literal, richly detailed ElevenLabs prompt, then picks a duration and a prompt influence.\n3. A Code node parses that JSON and clamps the settings to safe ranges, then calls the ElevenLabs sound-generation API.\n4. The returned MP3 is uploaded to Google Drive, and the link, prompt, and duration are sent back in the chat.\n\n### Setup steps\n\n- [ ] Create a Header Auth credential with header name xi-api-key and your ElevenLabs API key, then select it on Generate Sound With ElevenLabs.\n- [ ] Select your Groq credential on Groq Llama Model (model llama-3.3-70b-versatile).\n- [ ] Select your Google Drive credential on Upload to Google Drive. Clips upload to your Drive root by default; set a parent folder to organize them.\n\n### Customization\n\nSwap the chat trigger for a form or webhook, tune the duration and prompt-influence guidance in the director prompt, or point the upload at a different Drive folder.",
        "height": 624,
        "width": 672
      },
      "id": "d6d19241-d691-4a61-9a10-0ffc5e070df3",
      "name": "Sticky Note 20ceaf67",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        208
      ]
    },
    {
      "parameters": {
        "content": "## Describe and direct the sound\n\nTakes the chat message and turns it into a clean, literal sound prompt with parsed, clamped settings.",
        "height": 524,
        "width": 516,
        "color": 7
      },
      "id": "ce840530-6cd2-4d6f-9462-e4e72ae59b3d",
      "name": "Sticky Note 4f0f5094",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        256
      ]
    },
    {
      "parameters": {
        "content": "## Generate the sound effect\n\nBuilds a safely escaped JSON body and calls ElevenLabs, with retries and an error path.",
        "height": 360,
        "width": 444,
        "color": 7
      },
      "id": "1b0a5cde-88b8-4d66-879a-4f3fbd4270ec",
      "name": "Sticky Note 672bc821",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        256
      ]
    },
    {
      "parameters": {
        "content": "## Store and reply in chat\n\nSaves the MP3 to Google Drive and replies with the link, or a friendly message on failure.",
        "height": 516,
        "width": 476,
        "color": 7
      },
      "id": "db1d4c5f-7244-49c0-9e20-a876f5d02603",
      "name": "Sticky Note 6e736129",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1216,
        256
      ]
    }
  ],
  "connections": {
    "When Chat Message Received": {
      "main": [
        [
          {
            "node": "Compose Sound Effect Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Llama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Compose Sound Effect Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Compose Sound Effect Prompt": {
      "main": [
        [
          {
            "node": "Clamp Sound Settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clamp Sound Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clamp Sound Settings": {
      "main": [
        [
          {
            "node": "Generate Sound With ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Sound With ElevenLabs": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Report Sound Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Respond in Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {},
  "tags": []
}