pending-submission/n8n-sfx-library-builder/workflow.json
{
  "name": "Build a sound effect library from a Google Sheet with ElevenLabs",
  "nodes": [
    {
      "name": "Start Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        208
      ],
      "parameters": {}
    },
    {
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        384
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "name": "Get Queued Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        304
      ],
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "name": "Select Queued Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        304
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ============================================================================\n// SELECT QUEUED BATCH\n// Reads every row from the library sheet, keeps only rows that still need a\n// sound (Status is \"Queued\" or blank), caps the run to a safe batch size, and\n// builds the clamped ElevenLabs request body for each. Rows already marked Done\n// or Failed are skipped, so the workflow is idempotent and safe to run on a\n// schedule.\n// ============================================================================\n\n// ---- EDIT HERE: the only block most people change -------------------------\nconst BATCH_SIZE = 10;                 // max rows generated per run (controls cost)\nconst DEFAULT_PROMPT_INFLUENCE = 0.3;  // used when PromptInfluence is blank\n// ElevenLabs sound-generation hard limits (do not change unless the API does)\nconst MIN_DURATION = 0.5;\nconst MAX_DURATION = 30;\n// ---------------------------------------------------------------------------\n\nconst clamp = (n, lo, hi) => Math.min(hi, Math.max(lo, n));\nconst cell = (v) => String(v === undefined || v === null ? '' : v).trim();\n\nconst rows = $input.all();\nconst out = [];\n\nfor (let i = 0; i < rows.length; i++) {\n  const r = rows[i].json;\n\n  // Idempotency: only pick rows that are Queued or blank. Done/Failed are skipped.\n  const status = cell(r.Status).toLowerCase();\n  if (status !== '' && status !== 'queued') continue;\n\n  // A row needs a Description (the sound-effect prompt) to be generated.\n  const description = cell(r.Description);\n  if (!description) continue;\n\n  if (out.length >= BATCH_SIZE) break;\n\n  // Duration: blank means let ElevenLabs auto-pick, so omit the field entirely.\n  // Any value is clamped to the API's 0.5 to 30 second range.\n  let duration = null;\n  const rawDur = cell(r.DurationSeconds);\n  if (rawDur !== '') {\n    const d = Number(rawDur);\n    if (Number.isFinite(d)) duration = clamp(d, MIN_DURATION, MAX_DURATION);\n  }\n\n  // Prompt influence: clamp 0 to 1, default when blank or invalid.\n  let influence = DEFAULT_PROMPT_INFLUENCE;\n  const rawInf = cell(r.PromptInfluence);\n  if (rawInf !== '') {\n    const p = Number(rawInf);\n    if (Number.isFinite(p)) influence = clamp(p, 0, 1);\n  }\n\n  const body = { text: description, prompt_influence: influence };\n  if (duration !== null) body.duration_seconds = duration;\n\n  // Deterministic, filesystem-safe MP3 name: sfx_<row>_<slug>.mp3\n  const slug = description.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 40) || 'sound';\n  const filename = 'sfx_' + r.row_number + '_' + slug + '.mp3';\n\n  out.push({\n    json: { row_number: r.row_number, description, filename, body },\n    pairedItem: { item: i },\n  });\n}\n\nreturn out;\n"
      }
    },
    {
      "name": "Generate Sound Effect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        368
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/sound-generation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_44100_128"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_ELEVENLABS_CREDENTIAL",
          "name": "ElevenLabs"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "name": "Upload MP3 to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        224
      ],
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "upload",
        "inputDataFieldName": "data",
        "name": "={{ $('Select Queued Batch').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_DRIVE_CREDENTIAL",
          "name": "Google Drive account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "name": "Mark Row Done",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        208
      ],
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Select Queued Batch').item.json.row_number }}",
            "Status": "Done",
            "Link": "={{ 'https://drive.google.com/file/d/' + $json.id + '/view' }}",
            "Notes": "",
            "GeneratedAt": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DurationSeconds",
              "displayName": "DurationSeconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PromptInfluence",
              "displayName": "PromptInfluence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GeneratedAt",
              "displayName": "GeneratedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "name": "Mark Row Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        384
      ],
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Select Queued Batch').item.json.row_number }}",
            "Status": "Failed",
            "Notes": "={{ $json.error?.message || $json.error || 'Sound generation or upload failed, see execution log' }}",
            "GeneratedAt": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DurationSeconds",
              "displayName": "DurationSeconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PromptInfluence",
              "displayName": "PromptInfluence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GeneratedAt",
              "displayName": "GeneratedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "name": "Summarize Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        208
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ============================================================================\n// SUMMARIZE RUN\n// Runs once after the per-row work. Counts how many rows were generated versus\n// failed this run and builds the Slack recap line. Either write-back node may\n// not have executed (an all-success run never touches Mark Row Failed), so each\n// reference is guarded.\n// ============================================================================\n\nlet done = [];\nlet failed = [];\ntry { done = $('Mark Row Done').all(); } catch (e) { done = []; }\ntry { failed = $('Mark Row Failed').all(); } catch (e) { failed = []; }\n\nconst generated = done.length;\nconst failedCount = failed.length;\nconst total = generated + failedCount;\n\nconst NL = String.fromCharCode(10);\nconst recapText =\n  ':headphones: SFX Library Builder run' + NL +\n  'Generated ' + generated + ', failed ' + failedCount +\n  ' (of ' + total + ' queued row' + (total === 1 ? '' : 's') + ').';\n\nreturn [{ json: { generated, failed: failedCount, total, recapText } }];\n"
      }
    },
    {
      "name": "Post Recap to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1296,
        208
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messageType": "text",
        "text": "={{ $json.recapText }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_SLACK_CREDENTIAL",
          "name": "Slack account"
        }
      },
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        -720
      ],
      "parameters": {
        "content": "## SFX Library Builder\n\n### How it works\n\n1. A manual run or the 15 minute schedule reads the library sheet.\n2. Rows whose Status is Queued or blank are selected, capped to a safe batch, and clamped to the API limits.\n3. Generate Sound Effect calls the ElevenLabs sound-generation API and returns an MP3.\n4. Upload MP3 to Drive saves the file to your Google Drive folder.\n5. The row is marked Done with its Drive link, or Failed with the reason, so nothing is left stuck on Queued.\n6. Post Recap to Slack sends a one line generated and failed summary.\n\n### Setup steps\n\n- [ ] Create a Header Auth credential named ElevenLabs with header name xi-api-key, then select it on Generate Sound Effect.\n- [ ] Connect Google Sheets and pick your spreadsheet and tab on Get Queued Rows, Mark Row Done, and Mark Row Failed.\n- [ ] Connect Google Drive and pick the target folder on Upload MP3 to Drive.\n- [ ] Connect Slack and pick the channel on Post Recap to Slack.\n- [ ] Add the header row to your sheet: Description, DurationSeconds, PromptInfluence, Status, Link, Notes, GeneratedAt.\n- [ ] Fill a few Description rows, run once, then activate.\n\n### Customization\n\nEdit the batch size, default prompt influence, and the duration clamps at the top of the Select Queued Batch node. Change the 15 minute schedule to any cadence.",
        "width": 1256,
        "height": 648
      }
    },
    {
      "name": "Trigger and read the sheet",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        -48
      ],
      "parameters": {
        "content": "## Trigger and read the sheet\nBoth triggers feed the same pickup. Get Queued Rows reads every row from the library sheet.\n\nOn a schedule, keep the interval longer than one batch's worst-case run time so a new run does not start while the previous one is still generating the same Queued rows.",
        "color": 7,
        "width": 472,
        "height": 576
      }
    },
    {
      "name": "Select the queued batch",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        64
      ],
      "parameters": {
        "content": "## Select the queued batch\nKeeps only Queued or blank rows, caps the batch, and clamps duration and prompt influence. Edit the tunables at the top of the node.",
        "color": 7,
        "width": 268,
        "height": 384
      }
    },
    {
      "name": "Generate and store the MP3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        32
      ],
      "parameters": {
        "content": "## Generate and store the MP3\nGenerate Sound Effect uses a Header Auth credential named ElevenLabs (header xi-api-key). The returned MP3 is uploaded to your Drive folder.",
        "color": 7,
        "width": 460,
        "height": 504
      }
    },
    {
      "name": "Write back and post recap",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        32
      ],
      "parameters": {
        "content": "## Write back and post recap\nEach row is marked Done with its Drive link or Failed with a reason, then Slack gets a one line recap. A failure never stops the batch.",
        "color": 7,
        "width": 640,
        "height": 528
      }
    }
  ],
  "connections": {
    "Start Manually": {
      "main": [
        [
          {
            "node": "Get Queued Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get Queued Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Queued Rows": {
      "main": [
        [
          {
            "node": "Select Queued Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Queued Batch": {
      "main": [
        [
          {
            "node": "Generate Sound Effect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Sound Effect": {
      "main": [
        [
          {
            "node": "Upload MP3 to Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Row Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload MP3 to Drive": {
      "main": [
        [
          {
            "node": "Mark Row Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Row Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Row Done": {
      "main": [
        [
          {
            "node": "Summarize Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Row Failed": {
      "main": [
        [
          {
            "node": "Summarize Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run": {
      "main": [
        [
          {
            "node": "Post Recap to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {},
  "tags": []
}
