pending-submission/n8n-gladia-notion-meetings/workflow.json
{
  "name": "Transcribe Notion Meeting Recordings with Gladia",
  "nodes": [
    {
      "parameters": {
        "width": 1328,
        "height": 668,
        "content": "## Transcribe Notion Meeting Recordings with Gladia\n\n> ⚠️ **Self-hosted n8n only.** Uses the `n8n-nodes-gladia` community node, which is not available on n8n Cloud.\n\n### How it works\n\n1. A new row in your Notion meetings database triggers the workflow.\n2. Gladia transcribes the recording URL with speaker diarization and summarization.\n3. The workflow polls Gladia until the job is done, looping while it is still processing.\n4. The summary and status are written back to the meeting page.\n5. The full transcript is split into Notion-safe blocks and appended to the page.\n6. Any API error or timeout routes to a failure path that marks the page Failed.\n\n### Setup steps\n\n- [ ] Install the `n8n-nodes-gladia` community node (Settings > Community Nodes).\n- [ ] Add a Gladia API credential (key from app.gladia.io).\n- [ ] Add a Notion API credential.\n- [ ] In the trigger, select your meetings database.\n- [ ] Ensure the database has Recording URL (URL), Status (Status, with Transcribed + Failed), and Summary (Text) columns.\n\n### Customization\n\nTune speakers, poll interval, and timeout in the config node: `number_of_speakers`, `wait_seconds`, and `max_attempts` (default timeout 60 attempts x 10s = 10 min)."
      },
      "id": "f88accab-3f3d-46b1-bb2f-7838cf413536",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-96, -592]
    },
    {
      "parameters": {
        "width": 428,
        "height": 396,
        "color": 7,
        "content": "## Trigger and configure\n\nA new Notion database row starts the run. Set `number_of_speakers`, `wait_seconds`, and `max_attempts` here."
      },
      "id": "541e69e3-ef2f-4906-8c03-0f7d878b5c22",
      "name": "Trigger and configure",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-96, 96]
    },
    {
      "parameters": {
        "width": 900,
        "height": 412,
        "color": 7,
        "content": "## Transcribe and poll Gladia\n\nGladia is asynchronous: Start Transcription returns a job id, and Get Transcription Result fetches the transcript separately. Route by Status sends `done` onward, routes error or a timeout to the failure path, and loops everything else back to Wait."
      },
      "id": "c75eafa7-205b-48ad-bc26-b0313724a800",
      "name": "Transcribe and poll Gladia",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [352, 96]
    },
    {
      "parameters": {
        "width": 752,
        "height": 364,
        "color": 7,
        "content": "## Write results to Notion\n\nSets Status to Transcribed, writes the summary, then splits the full transcript into Notion-safe blocks (2000-char limit) and appends them to the page."
      },
      "id": "d8341b22-be2c-450d-9a79-546e4dd3fa99",
      "name": "Write results to Notion",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1280, 96]
    },
    {
      "parameters": {
        "width": 380,
        "height": 352,
        "color": 7,
        "content": "## Handle errors and timeouts\n\nThe two Gladia nodes and the Notion writes use continue-on-error output for API failures, and Route by Status sends timeouts here as well, so both cases mark the page Failed."
      },
      "id": "1fb4f31f-d653-44f6-8a65-4a274dcb0207",
      "name": "Handle errors and timeouts",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1600, 480]
    },
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "event": "pageAddedToDatabase",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_MEETINGS_DATABASE_ID"
        },
        "simple": true
      },
      "id": "07203490-a437-46de-871d-ef3f1eb8f225",
      "name": "When Meeting Added",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [-32, 304],
      "credentials": {
        "notionApi": { "id": "REPLACE_WITH_YOUR_NOTION_CREDENTIAL", "name": "Notion account" }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "number_of_speakers", "value": 2, "type": "number" },
            { "id": "a2", "name": "wait_seconds", "value": 10, "type": "number" },
            { "id": "a3", "name": "max_attempts", "value": 60, "type": "number" }
          ]
        }
      },
      "id": "acb16d6d-0fd4-4b34-8099-05ca556a3144",
      "name": "Set Run Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [160, 304]
    },
    {
      "parameters": {
        "operation": "starttranscription",
        "audio_url": "={{ $('When Meeting Added').item.json['Recording URL'] }}",
        "language_config": {},
        "diarization": true,
        "diarization_config": {
          "mode": "fixed",
          "number_of_speakers": "={{ $('Set Run Config').item.json.number_of_speakers }}"
        },
        "summarization": true,
        "summarization_config": { "type": "general" },
        "sentences": true
      },
      "id": "92d47664-2ac5-44a9-a942-00afc93b81d1",
      "name": "Start Transcription",
      "type": "n8n-nodes-gladia.gladia",
      "typeVersion": 1,
      "position": [400, 304],
      "onError": "continueErrorOutput",
      "credentials": {
        "gladiaApi": { "id": "REPLACE_WITH_YOUR_GLADIA_CREDENTIAL", "name": "Gladia account" }
      }
    },
    {
      "parameters": {
        "amount": "={{ $('Set Run Config').item.json.wait_seconds }}",
        "unit": "seconds"
      },
      "id": "fb54dfa1-3ccf-4ef3-acde-32b34b58fdfc",
      "name": "Wait For Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [656, 288],
      "webhookId": "660d1051-cc60-4c78-a071-d057ce2750c0"
    },
    {
      "parameters": {
        "operation": "gettranscription",
        "id": "={{ $('Start Transcription').item.json.id }}"
      },
      "id": "da2798bc-ad75-4de6-8587-55c57b3ef46b",
      "name": "Get Transcription Result",
      "type": "n8n-nodes-gladia.gladia",
      "typeVersion": 1,
      "position": [848, 288],
      "onError": "continueErrorOutput",
      "credentials": {
        "gladiaApi": { "id": "REPLACE_WITH_YOUR_GLADIA_CREDENTIAL", "name": "Gladia account" }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "done",
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.status }}", "rightValue": "done", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "failed",
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  { "leftValue": "={{ $json.status }}", "rightValue": "error", "operator": { "type": "string", "operation": "equals" } },
                  { "leftValue": "={{ $runIndex }}", "rightValue": "={{ $('Set Run Config').item.json.max_attempts }}", "operator": { "type": "number", "operation": "gte" } }
                ],
                "combinator": "or"
              }
            }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "Still Processing" }
      },
      "id": "f2ef5f5f-f45e-4458-a52b-c15c41aadc43",
      "name": "Route by Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1088, 256]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('When Meeting Added').item.json.id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            { "key": "Status|status", "statusValue": "Transcribed" },
            { "key": "Summary|rich_text", "textContent": "={{ $json.result?.summarization?.results || 'No summary returned' }}" }
          ]
        }
      },
      "id": "0170541f-4a31-47e7-b2ea-769fddd17982",
      "name": "Update Meeting Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1408, 272],
      "onError": "continueErrorOutput",
      "credentials": {
        "notionApi": { "id": "REPLACE_WITH_YOUR_NOTION_CREDENTIAL", "name": "Notion account" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const transcript = $('Get Transcription Result').item.json.result.transcription.full_transcript || '';\nconst chunks = transcript.match(/[\\s\\S]{1,1900}/g) || [];\nconst blocks = [{ blockType: 'heading_2', text: '🎙️ Full Transcript' }];\nfor (const chunk of chunks) { blocks.push({ blockType: 'paragraph', text: chunk }); }\nreturn blocks.map(block => ({ json: block }));"
      },
      "id": "fcb0a04a-1629-4c3e-948a-453f807c551e",
      "name": "Split Transcript Into Blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1616, 256]
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "append",
        "blockId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('When Meeting Added').item.json.id }}"
        },
        "blockUi": {
          "blockValues": [
            { "type": "={{ $json.blockType }}", "textContent": "={{ $json.text }}" }
          ]
        }
      },
      "id": "7e71684f-6459-477d-a560-f9810cd3c2db",
      "name": "Append To Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1792, 256],
      "onError": "continueErrorOutput",
      "credentials": {
        "notionApi": { "id": "REPLACE_WITH_YOUR_NOTION_CREDENTIAL", "name": "Notion account" }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('When Meeting Added').first().json.id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            { "key": "Status|status", "statusValue": "Failed" },
            { "key": "Summary|rich_text", "textContent": "={{ '⚠️ Transcription failed or timed out (last status: ' + ($json.status || 'API error') + ')' }}" }
          ]
        }
      },
      "id": "914dc842-9329-4adf-a527-64c228979a6c",
      "name": "Mark Failed",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1744, 672],
      "credentials": {
        "notionApi": { "id": "REPLACE_WITH_YOUR_NOTION_CREDENTIAL", "name": "Notion account" }
      }
    }
  ],
  "connections": {
    "When Meeting Added": {
      "main": [[{ "node": "Set Run Config", "type": "main", "index": 0 }]]
    },
    "Set Run Config": {
      "main": [[{ "node": "Start Transcription", "type": "main", "index": 0 }]]
    },
    "Start Transcription": {
      "main": [
        [{ "node": "Wait For Processing", "type": "main", "index": 0 }],
        [{ "node": "Mark Failed", "type": "main", "index": 0 }]
      ]
    },
    "Wait For Processing": {
      "main": [[{ "node": "Get Transcription Result", "type": "main", "index": 0 }]]
    },
    "Get Transcription Result": {
      "main": [
        [{ "node": "Route by Status", "type": "main", "index": 0 }],
        [{ "node": "Mark Failed", "type": "main", "index": 0 }]
      ]
    },
    "Route by Status": {
      "main": [
        [{ "node": "Update Meeting Page", "type": "main", "index": 0 }],
        [{ "node": "Mark Failed", "type": "main", "index": 0 }],
        [{ "node": "Wait For Processing", "type": "main", "index": 0 }]
      ]
    },
    "Update Meeting Page": {
      "main": [
        [{ "node": "Split Transcript Into Blocks", "type": "main", "index": 0 }],
        [{ "node": "Mark Failed", "type": "main", "index": 0 }]
      ]
    },
    "Split Transcript Into Blocks": {
      "main": [[{ "node": "Append To Page", "type": "main", "index": 0 }]]
    },
    "Append To Page": {
      "main": [
        [],
        [{ "node": "Mark Failed", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
