pending-submission/n8n-sfx-variation-pack/workflow.json
{
  "name": "Generate a sound effect variation pack from one brief using ElevenLabs and Google Drive",
  "nodes": [
    {
      "name": "When a Brief Is Submitted",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        300
      ],
      "webhookId": "11111111-1111-4111-8111-111111111111",
      "parameters": {
        "formTitle": "Sound effect variation pack",
        "formDescription": "Describe one sound and get several ElevenLabs takes to choose from.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Description",
              "fieldType": "textarea",
              "placeholder": "e.g. heavy wooden door creaking open slowly in an empty hall",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of takes",
              "fieldType": "number",
              "placeholder": "1 to 5 (default 3)"
            },
            {
              "fieldLabel": "Duration seconds",
              "fieldType": "number",
              "placeholder": "0.5 to 30, leave blank to let ElevenLabs decide"
            },
            {
              "fieldLabel": "Prompt influence",
              "fieldType": "number",
              "placeholder": "0 to 1, leave blank for 0.3"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      }
    },
    {
      "name": "Plan Takes and Folder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const DEFAULT_TAKES = 3;\nconst MAX_TAKES = 5;\nconst MIN_DURATION = 0.5;\nconst MAX_DURATION = 30;\nconst DEFAULT_INFLUENCE = 0.3;\nconst INFLUENCE_STEP = 0.1;\nconst PARENT_FOLDER_ID = 'PASTE_YOUR_SFX_OUTPUT_FOLDER_ID_HERE';\n\nconst clamp = (n, lo, hi) => Math.max(lo, Math.min(hi, n));\nconst form = $input.first().json;\n\nconst brief = String(form['Description'] || '').trim();\n\nlet takes = Math.round(Number(form['Number of takes']) || DEFAULT_TAKES);\ntakes = clamp(takes, 1, MAX_TAKES);\n\nlet duration = null;\nconst rawDuration = form['Duration seconds'];\nif (rawDuration !== '' && rawDuration != null && !isNaN(Number(rawDuration))) {\n  duration = clamp(Number(rawDuration), MIN_DURATION, MAX_DURATION);\n}\n\nlet baseInfluence = DEFAULT_INFLUENCE;\nconst rawInfluence = form['Prompt influence'];\nif (rawInfluence !== '' && rawInfluence != null && !isNaN(Number(rawInfluence))) {\n  baseInfluence = clamp(Number(rawInfluence), 0, 1);\n}\n\nconst slug = brief.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 40) || 'sound-effect';\nconst now = new Date();\nconst pad = (x) => String(x).padStart(2, '0');\nconst stamp = now.getFullYear() + pad(now.getMonth() + 1) + pad(now.getDate()) + '-' + pad(now.getHours()) + pad(now.getMinutes()) + pad(now.getSeconds());\nconst folderName = slug + '-' + stamp;\n\nconst list = [];\nfor (let i = 0; i < takes; i++) {\n  const influence = clamp(Number((baseInfluence + i * INFLUENCE_STEP).toFixed(3)), 0, 1);\n  list.push({ takeNumber: i + 1, prompt: brief, duration: duration, prompt_influence: influence });\n}\n\nreturn [{ json: { brief: brief, totalTakes: takes, duration: duration, baseInfluence: baseInfluence, folderName: folderName, parentFolderId: PARENT_FOLDER_ID, takes: list } }];"
      }
    },
    {
      "name": "Create Take Folder in Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        300
      ],
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "authentication": "oAuth2",
        "name": "={{ $json.folderName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.parentFolderId }}"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_DRIVE_CREDENTIAL",
          "name": "Google Drive account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "name": "Build Take Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const plan = $('Plan Takes and Folder').first().json;\nconst takes = Array.isArray(plan.takes) ? plan.takes : [];\n\nreturn takes.map((t) => {\n  const body = { text: t.prompt, prompt_influence: t.prompt_influence };\n  if (t.duration != null) body.duration_seconds = t.duration;\n  return {\n    json: {\n      takeNumber: t.takeNumber,\n      totalTakes: plan.totalTakes,\n      prompt: t.prompt,\n      prompt_influence: t.prompt_influence,\n      duration: t.duration,\n      bodyJson: JSON.stringify(body),\n    },\n    pairedItem: { item: 0 },\n  };\n});"
      }
    },
    {
      "name": "Generate Sound Effect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/sound-generation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_44100_128"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyJson }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "ElevenLabs"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "name": "Upload Take to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "authentication": "oAuth2",
        "inputDataFieldName": "data",
        "name": "=take-{{ $('Build Take Requests').item.json.takeNumber }}.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Take Folder in Drive').first().json.id }}"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_DRIVE_CREDENTIAL",
          "name": "Google Drive account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "name": "Record Successful Take",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        200
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const file = $json;\nconst takeNumber = $('Build Take Requests').item.json.takeNumber;\nconst id = file.id || '';\nconst link = file.webViewLink || (id ? ('https://drive.google.com/file/d/' + id + '/view') : '');\nreturn {\n  json: {\n    takeNumber: takeNumber,\n    status: 'ok',\n    fileName: file.name || ('take-' + takeNumber + '.mp3'),\n    link: link,\n  },\n};"
      }
    },
    {
      "name": "Record Failed Take",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        440
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "let takeNumber = null;\ntry { takeNumber = $('Build Take Requests').item.json.takeNumber; } catch (e) {}\nif (takeNumber == null) takeNumber = ($json.takeNumber != null ? $json.takeNumber : null);\nconst err = $json.error;\nconst message = (err && (err.message || err.description)) || (typeof err === 'string' ? err : '') || 'Generation or upload failed';\nreturn {\n  json: {\n    takeNumber: takeNumber,\n    status: 'failed',\n    fileName: '',\n    link: '',\n    error: String(message),\n  },\n};"
      }
    },
    {
      "name": "Build Results Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const rows = $input.all().map((i) => i.json).filter(Boolean);\nrows.sort((a, b) => (a.takeNumber || 0) - (b.takeNumber || 0));\n\nconst plan = $('Plan Takes and Folder').first().json;\nconst brief = plan.brief || '';\nconst total = (plan.totalTakes != null ? plan.totalTakes : rows.length);\nconst folderId = $('Create Take Folder in Drive').first().json.id || '';\nconst folderUrl = folderId ? ('https://drive.google.com/drive/folders/' + folderId) : '';\n\nconst okRows = rows.filter((r) => r.status === 'ok');\nconst failedRows = rows.filter((r) => r.status !== 'ok');\nconst missing = Math.max(0, total - okRows.length - failedRows.length);\n\nconst esc = (s) => String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\nconst listItems = rows.map((r) => {\n  if (r.status === 'ok') {\n    return '<li>Take ' + esc(r.takeNumber) + ': <a href=\"' + esc(r.link) + '\" target=\"_blank\" rel=\"noopener\">' + esc(r.fileName || ('take-' + r.takeNumber + '.mp3')) + '</a></li>';\n  }\n  return '<li>Take ' + esc(r.takeNumber) + ': failed (' + esc(r.error || 'unknown error') + ')</li>';\n}).join('');\n\nconst folderLine = folderUrl\n  ? '<p><strong>Folder:</strong> <a href=\"' + esc(folderUrl) + '\" target=\"_blank\" rel=\"noopener\">open the variation pack in Google Drive</a></p>'\n  : '<p>The Drive folder link is unavailable.</p>';\n\nlet countLine = okRows.length + ' of ' + total + ' takes generated';\nif (failedRows.length) countLine += ', ' + failedRows.length + ' failed';\nif (missing) countLine += ', ' + missing + ' did not report back';\ncountLine += '.';\n\nconst html = '<div style=\"font-family:system-ui,Segoe UI,Arial,sans-serif;max-width:640px;line-height:1.55;\">' +\n  '<h2>Your sound effect variation pack</h2>' +\n  '<p><strong>Brief:</strong> ' + esc(brief) + '</p>' +\n  '<p>' + countLine + '</p>' +\n  folderLine +\n  '<ul>' + listItems + '</ul>' +\n  '</div>';\n\nreturn [{ json: { html: html, folderUrl: folderUrl, okCount: okRows.length, failedCount: failedRows.length, missingCount: missing, total: total, results: rows } }];"
      }
    },
    {
      "name": "Show the Variation Pack",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1800,
        320
      ],
      "webhookId": "22222222-2222-4222-8222-222222222222",
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "={{ $json.html }}"
      }
    },
    {
      "name": "Explain Folder Problem",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        520,
        540
      ],
      "webhookId": "33333333-3333-4333-8333-333333333333",
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "<div style=\"font-family:system-ui,Segoe UI,Arial,sans-serif;max-width:640px;line-height:1.55;\"><h2>Output folder not ready</h2><p>The workflow could not create the Drive subfolder for this run. This usually means the output folder has not been set yet.</p><p>Open the <strong>Plan Takes and Folder</strong> node and set <code>PARENT_FOLDER_ID</code> to a real Google Drive folder ID, and make sure the Google Drive credential is connected on both Drive nodes. Then submit again.</p></div>"
      }
    },
    {
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        40
      ],
      "parameters": {
        "content": "## Generate a sound effect variation pack from one brief using ElevenLabs and Google Drive\n\n### How it works\n\n1. A user submits one sound brief and a take count from 1 to 5 through an n8n form.\n2. A code step clamps the inputs and prepares one request per take, and a dated Drive subfolder is created for the run.\n3. Each take calls the ElevenLabs sound-generation API on its own, and because the API has no seed, every call returns a different result.\n4. Each returned MP3 is uploaded into the subfolder as take-1.mp3 through take-N.mp3.\n5. The form shows a link to the folder plus a per-take list marking each take ok or failed.\n\n### Setup steps\n\n- [ ] Create an ElevenLabs Header Auth credential named ElevenLabs with header name xi-api-key.\n- [ ] Create a Google Drive OAuth2 credential and select it on both Drive nodes.\n- [ ] Open Plan Takes and Folder and paste your output folder ID into PARENT_FOLDER_ID.\n- [ ] Leave the workflow inactive until both credentials and the folder ID are set.\n\n### Customization\n\nChange the default and maximum take count, adjust the duration clamp, or change how prompt influence is spread across takes in the Plan Takes and Folder node.",
        "height": 620,
        "width": 480
      }
    },
    {
      "name": "Sticky Collect",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        180
      ],
      "parameters": {
        "content": "## Collect the brief\n\nOne form takes the sound description, the take count, and optional duration and influence.",
        "height": 320,
        "width": 200,
        "color": 7
      }
    },
    {
      "name": "Sticky Plan",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        180
      ],
      "parameters": {
        "content": "## Plan takes and make a folder\n\nClamp the inputs, build one request per take, and create a dated Drive subfolder for this run.",
        "height": 480,
        "width": 640,
        "color": 7
      }
    },
    {
      "name": "Sticky Generate",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        100
      ],
      "parameters": {
        "content": "## Generate and store each take\n\nCall ElevenLabs once per take for a different result, upload each MP3, and record ok or failed.",
        "height": 520,
        "width": 700,
        "color": 7
      }
    },
    {
      "name": "Sticky Return",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1540,
        200
      ],
      "parameters": {
        "content": "## Return the variation pack\n\nCollapse the take results and show the folder link plus a per-take status list.",
        "height": 300,
        "width": 470,
        "color": 7
      }
    }
  ],
  "connections": {
    "When a Brief Is Submitted": {
      "main": [
        [
          {
            "node": "Plan Takes and Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Takes and Folder": {
      "main": [
        [
          {
            "node": "Create Take Folder in Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Take Folder in Drive": {
      "main": [
        [
          {
            "node": "Build Take Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Explain Folder Problem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Take Requests": {
      "main": [
        [
          {
            "node": "Generate Sound Effect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Sound Effect": {
      "main": [
        [
          {
            "node": "Upload Take to Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Failed Take",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Take to Drive": {
      "main": [
        [
          {
            "node": "Record Successful Take",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Failed Take",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Successful Take": {
      "main": [
        [
          {
            "node": "Build Results Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Failed Take": {
      "main": [
        [
          {
            "node": "Build Results Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Results Summary": {
      "main": [
        [
          {
            "node": "Show the Variation Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {},
  "tags": []
}