pending-submission/n8n-youtube-embargo/workflow.json
{
  "name": "Auto un-publish expired YouTube videos on a schedule",
  "nodes": [
    {
      "id": "ba669071-0fd8-4c01-b350-781562df437d",
      "name": "Run Daily at 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        560,
        352
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      }
    },
    {
      "id": "6ae40f08-db74-452a-8879-84ea8e810a0d",
      "name": "Read Embargo Schedule",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        352
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "",
          "cachedResultName": "Your embargo control sheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "7963c245-b0d2-4e0a-bccf-036876fa4052",
      "name": "Select Due Videos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        352
      ],
      "parameters": {
        "jsCode": "// === CONFIG ===\n// Set your channel timezone (IANA name, e.g. America/Halifax, Europe/London).\nconst TIMEZONE = 'America/Halifax';\n// Status to apply when a row leaves \"Target Status\" blank.\nconst DEFAULT_TARGET = 'private';\n\nconst today = DateTime.now().setZone(TIMEZONE).startOf('day');\nconst due = [];\n\nfor (const item of $input.all()) {\n  const row = item.json;\n  const videoId = (row.videoId || '').toString().trim();\n  const rawDate = (row['Unpublish Date'] || '').toString().trim();\n  const status = (row.Status || '').toString().trim().toLowerCase();\n\n  if (!videoId || !rawDate) continue;\n  if (status === 'expired') continue;\n\n  let unpublish = DateTime.fromISO(rawDate, { zone: TIMEZONE });\n  if (!unpublish.isValid) {\n    unpublish = DateTime.fromFormat(rawDate, 'yyyy-MM-dd', { zone: TIMEZONE });\n  }\n  if (!unpublish.isValid) continue;\n\n  if (unpublish.startOf('day') <= today) {\n    let target = (row['Target Status'] || DEFAULT_TARGET).toString().trim().toLowerCase();\n    if (target !== 'private' && target !== 'unlisted') target = DEFAULT_TARGET;\n    due.push({\n      videoId,\n      targetStatus: target,\n      unpublishDate: rawDate,\n      title: (row.Title || '').toString()\n    });\n  }\n}\n\nreturn [{ json: { dueCount: due.length, due } }];"
      }
    },
    {
      "id": "744be8c2-82ee-4379-8c45-23784b7dd7e4",
      "name": "If Any Videos Due",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        352
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.dueCount }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "3c9601a6-9755-483d-8745-9592732a6eb9",
      "name": "Split Due Videos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1296,
        256
      ],
      "parameters": {
        "fieldToSplitOut": "due",
        "options": {}
      }
    },
    {
      "id": "cc099a11-f8f0-4876-82a8-f93b70c3e695",
      "name": "Get Current Video Details",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1552,
        256
      ],
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.videoId }}",
        "part": [
          "snippet",
          "status"
        ],
        "options": {}
      }
    },
    {
      "id": "4d533eec-3709-4560-a6ed-d164d9d3e725",
      "name": "If Already at Target",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1712,
        256
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status.privacyStatus }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "={{ $(\"Split Due Videos\").item.json.targetStatus }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b8097d75-bc7d-4efd-a773-2e4710f4ef17",
      "name": "Mark Row as Expired",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2096,
        240
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "",
          "cachedResultName": "Your embargo control sheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "videoId"
          ],
          "value": {
            "videoId": "={{ $('Split Due Videos').item.json.videoId }}",
            "Status": "Expired",
            "Unpublished At": "={{ $now.toISO() }}"
          },
          "schema": [
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Unpublished At",
              "displayName": "Unpublished At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "7382aa66-57a2-4b51-a88f-c6f17254c2ba",
      "name": "Set Video to Embargo Status",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1872,
        384
      ],
      "parameters": {
        "resource": "video",
        "operation": "update",
        "videoId": "={{ $json.id }}",
        "title": "={{ $json.snippet.title }}",
        "categoryId": "={{ $json.snippet.categoryId }}",
        "updateFields": {
          "privacyStatus": "={{ $(\"Split Due Videos\").item.json.targetStatus }}"
        }
      }
    },
    {
      "id": "7a4f4d94-4b94-435b-9c15-730966db6d8b",
      "name": "Post Nothing Due Notice",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1296,
        448
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Your Slack channel"
        },
        "messageType": "text",
        "text": "No YouTube videos were due for embargo today. Nothing to un-publish.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "credentials": {
        "slackApi": {
          "name": "Slack account"
        }
      }
    },
    {
      "id": "28e5a9fb-636d-4532-b86c-2493f3e68ca3",
      "name": "Post Embargo Recap",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        2272,
        240
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Your Slack channel"
        },
        "messageType": "text",
        "text": "=*YouTube embargo run complete*\n\nThe following videos are now at their embargo status:\n{{ $('Get Current Video Details').all().map((v, i) => '• ' + (v.json.snippet.title || v.json.id) + ' (' + v.json.id + ') is now ' + $('Split Due Videos').all()[i].json.targetStatus).join('\\n') }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "executeOnce": true,
      "credentials": {
        "slackApi": {
          "name": "Slack account"
        }
      }
    },
    {
      "id": "64347221-ddd6-4045-a07e-b060e4038848",
      "name": "Sticky Note 0276c973",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        -32
      ],
      "parameters": {
        "content": "## Auto un-publish expired YouTube videos on a schedule\n\n### How it works\n1. A schedule trigger runs the workflow once a day.\n2. Google Sheets reads a control sheet of videos, each with an unpublish date and an optional target status.\n3. A Code step selects rows whose unpublish date has passed and that are not yet marked `Expired`, using a fixed timezone.\n4. For each due video, YouTube fetches the current details and any video already at its target status is skipped.\n5. YouTube sets the remaining videos to `private` or `unlisted`, preserving the existing title and category.\n6. Google Sheets marks each processed row `Expired` and Slack posts a recap, or a \"nothing due\" note.\n\n### Setup steps\n- [ ] Connect a YouTube (Google) OAuth2 credential on both YouTube nodes.\n- [ ] Connect a Google Sheets credential and pick your embargo control sheet.\n- [ ] Give the sheet the columns `videoId`, `Unpublish Date`, `Target Status`, and `Status`.\n- [ ] Connect a Slack credential and choose the channel for the recap.\n- [ ] Set the `TIMEZONE` constant at the top of the `Select Due Videos` node.\n\n### Customization\nRun the schedule more than once a day, switch the default target from `private` to `unlisted`, or keep the `Unpublished At` column to timestamp every change.",
        "height": 776,
        "width": 556
      }
    },
    {
      "id": "fc23712d-b2f6-4f06-97f8-e91c9536e1a3",
      "name": "Sticky Note 359ba2dc",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        256
      ],
      "parameters": {
        "content": "## Read and select due rows",
        "height": 264,
        "width": 548,
        "color": 7
      }
    },
    {
      "id": "1904ce18-362e-484e-9af0-d854134e4875",
      "name": "Sticky Note 0b2f745e",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        160
      ],
      "parameters": {
        "content": "## Branch on due count",
        "height": 480,
        "width": 412,
        "color": 7
      }
    },
    {
      "id": "1556509d-c78c-42e0-8e64-14d71548c96c",
      "name": "Sticky Note 803ce945",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1504,
        160
      ],
      "parameters": {
        "content": "## Confirm and un-publish",
        "height": 412,
        "width": 520,
        "color": 7
      }
    },
    {
      "id": "03fa87ed-c2f2-4106-b752-23f664afc43c",
      "name": "Sticky Note e880fa60",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2048,
        160
      ],
      "parameters": {
        "content": "## Log and notify",
        "height": 248,
        "width": 412,
        "color": 7
      }
    }
  ],
  "connections": {
    "Run Daily at 6am": {
      "main": [
        [
          {
            "node": "Read Embargo Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Embargo Schedule": {
      "main": [
        [
          {
            "node": "Select Due Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Due Videos": {
      "main": [
        [
          {
            "node": "If Any Videos Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Any Videos Due": {
      "main": [
        [
          {
            "node": "Split Due Videos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Nothing Due Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Due Videos": {
      "main": [
        [
          {
            "node": "Get Current Video Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Video Details": {
      "main": [
        [
          {
            "node": "If Already at Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Already at Target": {
      "main": [
        [
          {
            "node": "Mark Row as Expired",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Video to Embargo Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Row as Expired": {
      "main": [
        [
          {
            "node": "Post Embargo Recap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video to Embargo Status": {
      "main": [
        [
          {
            "node": "Mark Row as Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {}
}
